<h2 mat-dialog-title>Arbeitsplatz {{ data.ap.apname }} bearbeiten</h2>
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit(formGroup.value)"
  [class.error]="!formGroup.valid && formGroup.touched"
>
  <div class="panel"><!-- ap data --></div>
  <mat-dialog-content class="panel">
    <sbsdb-edit-ap-hw
      class="abstand"
      *ngIf="data.editHw"
      [ap]="data.ap"
      [formGroup]="formGroup"
      [onSubmit]="onSubmitEvent"
      (hwReady)="hwReady($event)"
    ></sbsdb-edit-ap-hw>
    <sbsdb-edit-tags
      class="abstand"
      *ngIf="data.editTags"
      [ap]="data.ap"
      [formGroup]="formGroup"
      [onSubmit]="onSubmitEvent"
      (tagReady)="tagReady($event)"
    ></sbsdb-edit-tags>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-flat-button color="primary" mat-dialog-close>Abbrechen</button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="data"
      type="submit"
      [disabled]="formGroup.invalid"
    >
      OK
    </button>
  </div>
</form>
