<!--Rahmen fuer HW-Edit
    title: konfig-typ - konfig-herteller - konfig-bezeichnung

    include
    edit-ap -> ap anzeigen/entfernen (zuordnen ???)
    edit-hw -> HW bearbeiten
    edit-mac -> MAC bearbeiten, IP nur anzeigen oder auch bearbeiten ???
-->
<sbsdb-dialog-title
  dialogTitle="{{ data.hw.hwKonfig.hwTypBezeichnung }}: {{ data.hw.hwKonfig.konfiguration }}"
></sbsdb-dialog-title>
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit(formGroup.value)"
  [class.error]="!formGroup.valid && formGroup.touched"
>
  <div class="panel"><!-- hw data --></div>
  <mat-dialog-content class="panel">
    <sbsdb-edit-hw-ap
      class="abstand"
      *ngIf="data.editAp"
      [formGroup]="formGroup"
      [hw]="data.hw"
      [onSubmit]="onSubmitEvent"
      (apReady)="apReady($event)"
    ></sbsdb-edit-hw-ap>
    <sbsdb-edit-hw-hw
      class="abstand"
      *ngIf="data.editHw"
      [hw]="data.hw"
      [formGroup]="formGroup"
      [onSubmit]="onSubmitEvent"
      (hwReady)="hwReady($event)"
    ></sbsdb-edit-hw-hw>
    <sbsdb-edit-hw-mac
      class="abstand"
      *ngIf="data.editMac"
      [hw]="data.hw"
      [formGroup]="formGroup"
      [onSubmit]="onSubmitEvent"
      (macReady)="macReady($event)"
    ></sbsdb-edit-hw-mac>
  </mat-dialog-content>

  <sbsdb-dialog-actions [data]="data" [formGroup]="formGroup"></sbsdb-dialog-actions>
</form>
