<div class="col-align">
  <div *ngFor="let v of vlanInp.vlans" class="row-align">
    <mat-icon *ngIf="vlanInp.editap" class="vlan-icon">subdirectory_arrow_right</mat-icon>
    <mat-form-field>
      <mat-label>MAC-Adresse</mat-label>
      <input matInput [formControl]="v.macCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="v.macCtrl.invalid">{{ getErrorMessage(v.macCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="vlan-select abstand">
      <mat-label>VLAN</mat-label>
      <select
        matNativeControl
        [formControl]="v.vlanCtrl"
        [errorStateMatcher]="matcher"
        (change)="vlanSelectionChange(v)"
      >
        <option *ngFor="let vl of vlanList" [ngValue]="vl">
          {{ vl ? vl.bezeichnung : "<--->" }}
        </option>
      </select>
      <mat-error *ngIf="v.vlanCtrl.invalid">{{ getErrorMessage(v.vlanCtrl) }}</mat-error>
      <mat-hint align="start">{{ getNetworkInfo(v.vlanCtrl.value) }}</mat-hint>
      <mat-hint align="end">{{ getIpInfo(v.vlanCtrl.value) }}</mat-hint>
    </mat-form-field>
    <mat-form-field class="ip-input abstand">
      <mat-label>IP</mat-label>
      <input matInput [formControl]="v.ipCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="v.ipCtrl.invalid">{{ getErrorMessage(v.ipCtrl) }}</mat-error>
      <mat-hint>DHCP = 0</mat-hint>
    </mat-form-field>
    <div class="abstand">
      <button
        mat-icon-button
        [matMenuTriggerFor]="vlanMenu"
        [matMenuTriggerData]="{ vlan: v }"
        color="primary"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <!--    <button-->
      <!--      [disabled]="!v.vlanCtrl.value"-->
      <!--      mat-icon-button-->
      <!--      title="IP-Adresse löschen"-->
      <!--      type="button"-->
      <!--      (click)="delIp(v)"-->
      <!--    >-->
      <!--      <mat-icon [color]="v.vlanCtrl.value ? 'accent' : ''">delete_outline</mat-icon>-->
      <!--    </button>-->
    </div>
  </div>
</div>

<!-- Zeilen-Menue -->
<mat-menu #vlanMenu="matMenu">
  <ng-template matMenuContent let-v="vlan">
    <button mat-menu-item [disabled]="!v.vlanCtrl.value" (click)="delIp(v)">
      <mat-icon>delete_outline</mat-icon>
      IP-Adresse löschen
    </button>
    <button mat-menu-item [disabled]="vlanInp.vlans.length <= 1">
      <mat-icon>delete_outline</mat-icon>
      MAC-Adresse löschen
    </button>
    <button mat-menu-item [disabled]="formGroup.invalid" (click)="addMac()">
      <mat-icon>add_to_queue</mat-icon>
      MAC-Adresse hinzufügen
    </button>
  </ng-template>
</mat-menu>
