
.vlan-select {
  width: 270px;
}
.row-align {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}

.empty-mac {
  align-items: center;
}

.col-align {
  display: inline-flex;
  flex-direction: column;
}

.vlan-icon {
  margin-right: 10px;
  padding-top: 8px;
}

.abstand {
  margin-left: 15px;
}

.min-button {
  height: 40px;
}
