
/* Mat-Button als normaler Text */
.textLink {
  padding: 0;
  font-weight: normal;
  line-height: inherit;
  user-select: auto;
}

/* Paginator */
.paginator {
  height: 56px;
  background-color: var(--md-light-gray-background-color);
}

/* icon for drop down button */
.dd-icon {
  margin-right: 16px;
}

/* Spalten */
.mat-column-select,
.mat-column-menu {
  width: 25px;
}
.mat-column-kategorie {
  width: 140px;
}
.mat-column-typ {
  width: 140px;
}
.mat-column-konfiguration {
  width: 20%;
}
.mat-column-sernr {
  width: 180px;
}
.mat-column-anschdat {
  width: 100px;
}
.mat-column-anschwert {
  width: 100px;
}
.mat-column-ap {
  width: 30%;
}

.distinction {
  border-bottom: solid 3px aqua;
}
