<div class="flex-col">
  <sbsdb-head>
    <button mat-icon-button title="Erweiterte Suche (Alt+E)">
      <!--      (click)="apService.filterService.toggleExtendedFilter()"-->
      <!--      [class.ext-filter-button-select]="!apService.filterService.stdFilter"-->
      <mat-icon>find_in_page</mat-icon>
    </button>
    <button mat-icon-button title="Als CSV ausgeben"><mat-icon>share</mat-icon></button>
    <button mat-icon-button title="Neuer Arbeitsplatz">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button mat-icon-button title="Einstellungen" [matMenuTriggerFor]="tableMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </sbsdb-head>

  <div class="flex-content">
    <!-- empty table -->
    <div class="spinner-container" *ngIf="hwService.loading">
      <mat-spinner></mat-spinner>
    </div>
    <!-- TABLE begin -->
    <table
      mat-table
      [dataSource]="hwService.hwDataSource"
      matSort
      multiTemplateDataRows
      (matSortChange)="hwService.onSort($event)"
      [class.wrap-cell]="hwService.tableWrapCell"
    >
      <ng-container matColumnDef="select">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef></th>
        <!-- DATA -->
        <td mat-cell *matCellDef="let row">
          <mat-checkbox [checked]="row.selected" color="primary"> </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="kategorie" *ngIf="hwService.getColumn('kategorie'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            #firstfilter
            (keydown.shift.tab)="
              focusLastFilter(); $event.preventDefault(); $event.stopPropagation()
            "
            [column]="column"
            [showFilter]="hwService.stdFilter"
            size="XS"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="typ" *ngIf="hwService.getColumn('typ'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.stdFilter"
            size="XS"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="bezeichnung"
        *ngIf="hwService.getColumn('bezeichnung'); let column"
      >
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.stdFilter"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="sernr" *ngIf="hwService.getColumn('sernr'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.stdFilter"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="anschdat" *ngIf="hwService.getColumn('anschdat'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.stdFilter"
            size="XS"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="anschwert" *ngIf="hwService.getColumn('anschwert'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.stdFilter"
            size="XS"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="ap" *ngIf="hwService.getColumn('ap'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            #lastfilter
            (keydown.tab)="focusFirstFilter(); $event.preventDefault(); $event.stopPropagation()"
            [column]="column"
            [showFilter]="hwService.stdFilter"
            size="M"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event); $event.stopPropagation()"
        >
          <div sbsdbTooltipOnEllipsis *ngIf="row.ap">
            <a
              mat-button
              color="primary"
              class="textLink"
              (click)="hwService.gotoAp(row); $event.stopPropagation()"
              >{{ row.ap.apname }}</a
            >
            | {{ row.ap.oe.betriebsstelle }} | {{ row.ap.bezeichnung }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef></th>
        <!-- DATA -->
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <!-- ROW details template begin -->
      <tr mat-header-row *matHeaderRowDef="hwService.displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: hwService.displayedColumns" class="ap-row"></tr>
      <!--  details    <tr-->
      <!--        mat-row-->
      <!--        *matRowDef="let element; columns: ['apdetails']"-->
      <!--        class="ap-detail-row"-->
      <!--        [class.ap-detail-content-expanded]="element.expanded"-->
      <!--      ></tr>-->
      <!-- ROW details template end -->
    </table>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [pageSizeOptions]="[100, 250, 500, 1000]"
    showFirstLastButtons
    (page)="hwService.onPage($event)"
    class="paginator"
    color="primary"
  ></mat-paginator>

  <!-- Header-Menue -->
  <mat-menu #tableMenu="matMenu">
    <ng-template matMenuContent>
      <!--    <button mat-menu-item class="menue-entry" (click)="extendedFilter()">-->
      <!--      <mat-icon>find_in_page</mat-icon>-->
      <!--      Erweiterte Suche-->
      <!--    </button>-->
      <button mat-menu-item class="menue-entry">
        <mat-icon>close</mat-icon>
        Alle Filter löschen
      </button>
    </ng-template>
  </mat-menu>
</div>
