<div class="flex-col">
  <sbsdb-head
    [filterService]="hwService.hwFilterService"
    newTitle="Neue Hardware"
    [newElement]="hwService.newHwEvent"
    [mainMenu]="tableMenu"
    [csv2]="hwService.inventarListEvent"
    csv2Title="Inventarliste als CSV ausgeben"
  >
  </sbsdb-head>

  <sbsdb-filter
    *ngIf="!hwService.hwFilterService.stdFilter"
    [data]="hwService.hwFilterService.filterElement"
  ></sbsdb-filter>

  <div class="flex-content">
    <!-- empty table -->
    <div class="spinner-container" *ngIf="hwService.loading">
      <mat-spinner></mat-spinner>
    </div>
    <!-- TABLE begin -->
    <table
      mat-table
      [dataSource]="hwService.hwDataSource"
      matSort
      multiTemplateDataRows
      (matSortChange)="hwService.onSort($event)"
      [class.wrap-cell]="hwService.userSettings.cellLineBreak"
    >
      <ng-container matColumnDef="select">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef class="icon-column">
          <sbsdb-select-header
            [filterService]="hwService.hwFilterService"
            [changeSelected]="hwService.changeSelectedEvent"
          ></sbsdb-select-header>
        </th>
        <!-- DATA -->
        <td mat-cell *matCellDef="let row">
          <sbsdb-select-row
            [filterService]="hwService.hwFilterService"
            [row]="row"
          ></sbsdb-select-row>
        </td>
      </ng-container>

      <ng-container matColumnDef="kategorie" *ngIf="getColumn('kategorie'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            #firstfilter
            (keydown.shift.tab)="
              focusLastFilter(); $event.preventDefault(); $event.stopPropagation()
            "
            [column]="column"
            [showFilter]="hwService.hwFilterService.stdFilter"
            size="S"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="typ" *ngIf="getColumn('typ'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.hwFilterService.stdFilter"
            size="S"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="konfiguration" *ngIf="getColumn('konfiguration'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.hwFilterService.stdFilter"
            size="L"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>
            <button
              class="sub-table-link-button"
              mat-icon-button
              color="primary"
              title="zur Konfiguration"
              (click)="hwService.gotoKonf(row); $event.stopPropagation()"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
            {{ column.displayText(row) }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="sernr" *ngIf="getColumn('sernr'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.hwFilterService.stdFilter"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          class="highlight-when-expanded"
          (click)="hwService.expandHwRow(row, $event)"
        >
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="anschdat" *ngIf="getColumn('anschdat'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.hwFilterService.stdFilter"
            size="XS"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td mat-cell *matCellDef="let row" (click)="hwService.expandHwRow(row, $event)">
          <div sbsdbTooltipOnEllipsis>{{ column.displayText(row) }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="anschwert" *ngIf="getColumn('anschwert'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            [column]="column"
            [showFilter]="hwService.hwFilterService.stdFilter"
            size="XS"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td mat-cell *matCellDef="let row" (click)="hwService.expandHwRow(row, $event)">
          <div sbsdbTooltipOnEllipsis>
            {{ column.displayText(row) }}<span *ngIf="column.displayText(row)"> &euro;</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="ap" *ngIf="getColumn('ap'); let column">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef>
          <sbsdb-header-cell
            #lastfilter
            (keydown.tab)="focusFirstFilter(); $event.preventDefault(); $event.stopPropagation()"
            [column]="column"
            [showFilter]="hwService.hwFilterService.stdFilter"
            size="L"
          ></sbsdb-header-cell>
        </th>
        <!-- DATA -->
        <td
          mat-cell
          *matCellDef="let row"
          (click)="hwService.expandHwRow(row, $event); $event.stopPropagation()"
        >
          <div sbsdbTooltipOnEllipsis *ngIf="row.ap">
            <button
              class="sub-table-link-button"
              mat-icon-button
              color="primary"
              title="zum Arbeitsplatz"
              (click)="hwService.gotoAp(row); $event.stopPropagation()"
            >
              <mat-icon>open_in_new</mat-icon>
            </button>
            {{ row.ap.apname }}
            | {{ row.ap.oe.betriebsstelle }} | {{ row.ap.bezeichnung }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <!-- HEAD -->
        <th mat-header-cell *matHeaderCellDef class="icon-column">
          <sbsdb-expand-header [filterService]="hwService.hwFilterService"></sbsdb-expand-header>
        </th>
        <!-- DATA -->
        <td mat-cell *matCellDef="let element" #menuCell>
          <button
            mat-icon-button
            [matMenuTriggerFor]="hwMenu"
            [matMenuTriggerData]="{ hw: element }"
            (menuOpened)="menuCell.parentElement.classList.add('row-menu-open')"
            (menuClosed)="menuCell.parentElement.classList.remove('row-menu-open')"
            color="primary"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- COLUMN details template begin -->
      <ng-container matColumnDef="hwdetails">
        <td
          mat-cell
          *matCellDef="let element"
          [colSpan]="hwService.displayedColumns.length"
          class="detail-cell-cell"
        >
          <sbsdb-hw-detail-cell [element]="element"></sbsdb-hw-detail-cell>
        </td>
      </ng-container>
      <!-- COLUMN details template end -->

      <!-- ROW details template begin -->
      <tr mat-header-row *matHeaderRowDef="hwService.displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: hwService.displayedColumns"
        class="table-row table-row-clickable"
        [class.detail-cell-expanded]="element.expanded"
      ></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: ['hwdetails']"
        class="detail-cell-row"
        [class.detail-cell-content-expanded]="element.expanded"
      ></tr>
      <!--       ROW details template end -->
    </table>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [pageSizeOptions]="[100, 250, 500, 1000]"
    showFirstLastButtons
    (page)="hwService.onPage($event)"
    class="paginator"
    color="primary"
    [sbsdbPaginatorStatus]="pagInsert"
  ></mat-paginator>

  <!-- Infos zum Filter in paginator einfuegen -->
  <div #pagInsert>
    <div class="status-item">{{ hwService.hwFilterService.filterCount() }}</div>
    |
    <div class="status-item">{{ hwService.hwFilterService.zugeordneteHw() }}</div>
  </div>

  <!-- Header-Menue -->
  <mat-menu #tableMenu="matMenu">
    <ng-template matMenuContent>
      <button
        mat-menu-item
        class="menue-entry"
        (click)="hwService.toggleFremdeHw()"
        title="Auch fremde Hardware anzeigen"
      >
        <mat-icon>devices</mat-icon>
        Fremde HW anzeigen
        <span class="fill"></span>
        <mat-icon class="menue-checkbox">{{
          hwService.userSettings.showFremde ? "check_box" : "check_box_outline_blank"
        }}</mat-icon>
      </button>
      <button
        mat-menu-item
        class="menue-entry"
        (click)="hwService.userSettings.cellLineBreak = !hwService.userSettings.cellLineBreak"
        title="Zeilenumbruch in der Tabelle zulassen"
      >
        <mat-icon>wrap_text</mat-icon>
        Zeilenumbruch
        <span class="fill"></span>
        <mat-icon class="menue-checkbox">{{
          hwService.userSettings.cellLineBreak ? "check_box" : "check_box_outline_blank"
        }}</mat-icon>
      </button>
      <button
        mat-menu-item
        class="menue-entry"
        (click)="hwService.userSettings.showNavMenu = !hwService.userSettings.showNavMenu"
        title="Hauptnavigation als Menü oder einzelne Buttons"
      >
        <mat-icon>menu</mat-icon>
        Navigation als Menü
        <span class="fill"></span>
        <mat-icon class="menue-checkbox">{{
          hwService.userSettings.showNavMenu ? "check_box" : "check_box_outline_blank"
        }}</mat-icon>
      </button>
      <button
        mat-menu-item
        class="menue-entry"
        (click)="hwService.userSettings.debug = !hwService.userSettings.debug"
      >
        <mat-icon>pest_control</mat-icon>
        Debug-Info
        <span class="fill"></span>
        <mat-icon class="menue-checkbox">{{
          hwService.userSettings.debug ? "check_box" : "check_box_outline_blank"
        }}</mat-icon>
      </button>
    </ng-template>
  </mat-menu>

  <!-- Zeilen-Menue -->
  <mat-menu #hwMenu="matMenu">
    <ng-template matMenuContent let-hw="hw">
      <button mat-menu-item *ngIf="hwService.userSettings.isAdmin" (click)="hwService.hwEdit(hw)">
        <!--        [disabled]="hwService.dataService.isFremdeHardware(hw)"-->
        <mat-icon>edit</mat-icon>
        Hardware bearbeiten
      </button>
      <button
        mat-menu-item
        (click)="hwService.showHistory(hw)"
        [disabled]="hwService.dataService.isFremdeHardware(hw)"
      >
        <mat-icon>list</mat-icon>
        Hardware-Historie
      </button>
      <button
        mat-menu-item
        *ngIf="hwService.userSettings.isAdmin"
        (click)="hwService.editService.newHw(hw.hwKonfig)"
        [disabled]="hwService.dataService.isFremdeHardware(hw)"
      >
        <mat-icon>add_to_queue</mat-icon>
        Neue Geräte
      </button>
      <button mat-menu-item *ngIf="hwService.userSettings.isAdmin" (click)="hwService.deleteHw(hw)">
        <mat-icon>delete_forever</mat-icon>
        Hardware aussondern
      </button>
      <mat-divider *ngIf="hwService.userSettings.isAdmin && hw.selected"></mat-divider>
      <button
        mat-menu-item
        *ngIf="hwService.userSettings.isAdmin && hw.selected"
        (click)="hwService.editSelected()"
      >
        <mat-icon>fact_check</mat-icon>
        Ausgewählte bearbeiten
      </button>
    </ng-template>
  </mat-menu>
</div>
