<sbsdb-dialog-title
  dialogTitle="{{
    data.konfig ? data.konfig.hwTypBezeichnung + '-Konfiguration' : 'Neue Konfiguration'
  }} bearbeiten"
  [formGroup]="formGroup"
  [showNav]="showNav"
  (navBack)="navBack()"
  (navForward)="navForward()"
></sbsdb-dialog-title>
<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  [class.error]="!formGroup.valid && formGroup.touched"
>
  <div class="panel"><!-- config data --></div>
  <mat-dialog-content class="panel"> </mat-dialog-content>

  <sbsdb-edit-config
    [data]="data"
    [formGroup]="formGroup"
    [onSubmit]="onSubmitEvent"
  ></sbsdb-edit-config>

  <sbsdb-dialog-actions
    [data]="data"
    [formGroup]="formGroup"
    [showNav]="showNav"
    (navForward)="navAndSave()"
  ></sbsdb-dialog-actions>
</form>
