<div class="col-align">
  <div class="row-align">
    <mat-form-field class="hw-select">
      <mat-select
        [formControl]="hwInput.hwCtrl"
        [errorStateMatcher]="matcher"
        (selectionChange)="hwSelectionChange()"
        [sbsdbDisableControl]="pri && isFremdeHw(ap.apTypFlag)"
      >
        <mat-option *ngFor="let h of hwSelectList()" [value]="h">
          {{ h ? h.konfiguration + "[" + h.sernr + "]" : "<--->" }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="hwInput.hwCtrl.invalid">{{ getErrorMessage(hwInput.hwCtrl) }}</mat-error>
    </mat-form-field>
    <div class="fill"></div>
    <button
      class="abstand"
      *ngIf="hwInput.hwCtrl.value && !isPeripherie(hwInput.hwCtrl.value)"
      mat-icon-button
      color="primary"
      title="Neue MAC- bzw. IP-Adresse hinzufügen"
    >
      <!--      Neue MAC/IP-->
      <mat-icon [color]="'primary'">add_link</mat-icon>
    </button>
  </div>

  <div *ngFor="let v of hwInput.vlans" class="row-align">
    <mat-form-field>
      <mat-label>MAC-Adresse</mat-label>
      <input matInput [formControl]="v.macCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="v.macCtrl.invalid">{{ getErrorMessage(v.macCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="vlan-select abstand">
      <mat-label>VLAN</mat-label>
      <mat-select
        [formControl]="v.vlanCtrl"
        [errorStateMatcher]="matcher"
        (selectionChange)="vlanSelectionChange()"
      >
        <mat-option *ngFor="let v of vlans" [value]="v">
          {{ v ? v.bezeichnung : "<--->" }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="v.vlanCtrl.invalid">{{ getErrorMessage(v.vlanCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="ip-input abstand">
      <mat-label>IP</mat-label>
      <input matInput [formControl]="v.ipCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="v.ipCtrl.invalid">{{ getErrorMessage(v.ipCtrl) }}</mat-error>
    </mat-form-field>
    <div class="abstand">
      <button *ngIf="v.mac" mat-icon-button title="IP-Adresse löschen" type="button">
        <mat-icon color="accent">delete_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
