<div class="col-align">
  <div class="row-align">
    <mat-form-field class="hw-select">
      <select
        matNativeControl
        [formControl]="hw.hwCtrl"
        [errorStateMatcher]="matcher"
        (change)="hwSelectionChange(hw.hwCtrl.value)"
        [sbsdbDisableControl]="pri && dataService.isFremderAp(ap)"
      >
        <option *ngFor="let h of hwSelectList()" [ngValue]="h">
          {{ h ? h.hwKonfig.konfiguration + " [" + h.sernr + "]" : "- bitte auswählen -" }}
        </option>
      </select>
      <mat-error *ngIf="hw.hwCtrl.invalid">{{ getErrorMessage(hw.hwCtrl) }}</mat-error>
    </mat-form-field>
    <div class="fill"></div>
    <button
      #hwdelbtn
      mat-icon-button
      class="abstand"
      title="Hardware löschen"
      type="button"
      (click)="delHw()"
      [disabled]="
        pri &&
        (hw.hwCtrl.value === null ||
          (hw.hwCtrl.value && dataService.isFremdeHardware(hw.hwCtrl.value)))
      "
    >
      <mat-icon [color]="hwdelbtn.disabled ? defaultcolor : accentcolor">delete_outline</mat-icon>
    </button>
  </div>

  <sbsdb-edit-vlan
    *ngIf="!dataService.isPeripherie(hw.hwCtrl.value)"
    [formGroup]="formGroup"
    [pri]="pri"
    [vlanInp]="hw.vlans"
    [hwchange]="hwchange"
    [onSubmit]="onSubmit"
    (vlanReady)="vlanReady($event)"
  ></sbsdb-edit-vlan>
</div>
