<sbsdb-admin-panel-config-input
  [control]="blocksize"
  [label]="blocksizeLabel"
  [placeholder]="blocksizePlaceholder"
  [note]="blocksizeNote"
  [defaultValue]="'' + blocksizeDefaultValue"
  [configName]="blocksizeConfigName"
  [errorMsg]="blocksizeErrorMessage"
>
</sbsdb-admin-panel-config-input>
<sbsdb-admin-panel-config-input
  [control]="separator"
  [label]="separatorLabel"
  [placeholder]="separatorPlaceholder"
  [note]="separatorNote"
  [defaultValue]="'' + separatorDefaultValue"
  [configName]="separatorConfigName"
  [errorMsg]="separatorErrorMessage"
>
</sbsdb-admin-panel-config-input>
