.abstand-top {
  margin-top: 10px !important;
}

.abstand {
  margin-left: 8px;
}

.fields {
  display: inline-flex;
  flex-direction: column;
}

.oe-fields {
  display: inline-flex;
  flex-direction: row;
}

.textinp {
  width: 360px;
}
.bemerkung {
  width: 736px;
}
.standort {
  margin-right: 8px;
}
