<sbsdb-dialog-title
  dialogTitle="{{ data.in ? 'Externes Programm bearbeiten' : 'Neues externes Programm' }}"
></sbsdb-dialog-title>

<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit(formGroup.value)"
  [class.error]="!formGroup.valid && formGroup.touched"
>
  <mat-dialog-content>
    <div class="flex-col">
      <mat-form-field>
        <mat-label>Schlüssel</mat-label>
        <input
          matInput
          [formControl]="keyControl"
          [errorStateMatcher]="matcher"
          (change)="onKeyChange()"
        />
        <mat-error *ngIf="keyControl.invalid">{{ getErrorMessage(keyControl) }}</mat-error>
      </mat-form-field>
      <mat-form-field class="abstand">
        <mat-label>Bezeichnung</mat-label>
        <input matInput [formControl]="nameControl" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="nameControl.invalid">{{ getErrorMessage(nameControl) }}</mat-error>
      </mat-form-field>
      <mat-form-field class="abstand">
        <mat-label>Parameter</mat-label>
        <input matInput [formControl]="paramControl" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="paramControl.invalid">{{ getErrorMessage(paramControl) }}</mat-error>
      </mat-form-field>
      <mat-form-field class="abstand">
        <mat-label>Flag</mat-label>
        <input matInput [formControl]="flagControl" [errorStateMatcher]="matcher" />
        <mat-hint align="start">1 = Für alle Benutzer sichtbar</mat-hint>
        <mat-error *ngIf="flagControl.invalid">{{ getErrorMessage(flagControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="abstand">
        <mat-label>AP-Typen</mat-label>
        <mat-select
          [formControl]="aptypControl"
          multiple
          [errorStateMatcher]="matcher"
          panelClass="extProgSelect"
        >
          <mat-option *ngFor="let field of dataService.aptypList" [value]="field">{{
            field.bezeichnung
          }}</mat-option>
        </mat-select>
        <!-- mat-selection-list funktioniert nicht mit formControl -->
        <!--        <mat-selection-list #aptypsel formControlName="aptyp">-->
        <!--          <mat-list-option *ngFor="let field of dataService.aptypList" [value]="field">{{-->
        <!--            field.bezeichnung-->
        <!--          }}</mat-list-option>-->
        <!--        </mat-selection-list>-->

        <mat-error *ngIf="aptypControl.invalid">{{ getErrorMessage(aptypControl) }}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <sbsdb-dialog-actions [data]="data" [formGroup]="formGroup"></sbsdb-dialog-actions>
</form>
