.sub-table {
  min-width: 300px;
}
.sub-table-head-title {
  float: left;
}
.sub-table-head-button {
  float: right;
}
.sub-table-head-button .mat-icon-button {
  height: 20px;
  width: 20px;
  line-height: 16px;
}
.sub-table-head-button .material-icons {
  font-size: 18px;
  line-height: 16px;
}
.edit-button {
  color: gray;
}
