<div [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'" class="detail-cell-content">
  <div class="detail-cell-content-row">
    <div class="detail-cell-margin">
      <table class="sub-table">
        <thead>
          <tr>
            <th colspan="2">
              <div class="sub-table-head-title">Konfiguration</div>
              <span *ngIf="hwService.userSettings.debug" class="debug">
                #{{ element.hwKonfig.id }}
              </span>
              <!--              <div *ngIf="hwService.userSettings.isAdmin" class="sub-table-head-button edit-button">-->
              <div class="sub-table-head-button">
                <button
                  mat-icon-button
                  color="primary"
                  title="zur Konfiguration"
                  (click)="hwService.gotoKonf(element); $event.stopPropagation()"
                >
                  <mat-icon>open_in_new</mat-icon>
                </button>
                <!--                <button-->
                <!--                  mat-icon-button-->
                <!--                  color="primary"-->
                <!--                  title="Konfiguration bearbeiten"-->
                <!--                  [disabled]="hwService.hwFilterService.isFremdeHw(element)"-->
                <!--                  (click)="hwService.editConfig(element.hwKonfig)"-->
                <!--                >-->
                <!--                  <mat-icon>edit</mat-icon>-->
                <!--                </button>-->
              </div>
            </th>
          </tr>
        </thead>
        <tr>
          <td>Kategorie</td>
          <td>
            {{ element.hwKonfig.apKatBezeichnung }}
            <span *ngIf="hwService.userSettings.debug" class="debug">
              #{{ element.hwKonfig.apKatId }}
            </span>
          </td>
        </tr>
        <tr>
          <td>Typ</td>
          <td>
            {{ element.hwKonfig.hwTypBezeichnung }}
            <span *ngIf="hwService.userSettings.debug" class="debug">
              #{{ element.hwKonfig.hwTypId }}
            </span>
          </td>
        </tr>
        <tr>
          <td>Hersteller</td>
          <td>{{ element.hwKonfig.hersteller }}</td>
        </tr>
        <tr>
          <td>Typ-Bezeichnung</td>
          <td>{{ element.hwKonfig.bezeichnung }}</td>
        </tr>
        <tr>
          <td>Prozessor</td>
          <td>{{ element.hwKonfig.prozessor }}</td>
        </tr>
        <tr>
          <td>RAM</td>
          <td>{{ hwService.dataService.formatMbSize(element.hwKonfig.ram) }}</td>
        </tr>
        <tr>
          <td>HD</td>
          <td>{{ hwService.dataService.formatMbSize(element.hwKonfig.hd) }}</td>
        </tr>
        <tr>
          <td>Grafik</td>
          <td>{{ element.hwKonfig.video }}</td>
        </tr>
        <tr>
          <td>Sonstiges</td>
          <td class="detail-cell-bemerk-td">{{ element.hwKonfig.sonst }}</td>
        </tr>
      </table>
    </div>
    <div class="detail-cell-margin">
      <table>
        <thead>
          <tr>
            <th colspan="2">
              <div class="sub-table-head-title">Hardware</div>
              <span *ngIf="hwService.userSettings.debug" class="debug"> #{{ element.id }} </span>
              <div *ngIf="hwService.userSettings.isAdmin" class="sub-table-head-button edit-button">
                <button
                  mat-icon-button
                  color="primary"
                  title="Hardware bearbeiten"
                  [disabled]="hwService.hwFilterService.isFremdeHw(element)"
                  (click)="hwService.hwhwEdit(element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tr>
          <td>Serien-Nr.</td>
          <td>{{ element.sernr }}</td>
        </tr>
        <tr>
          <td>Inventar-Nr.</td>
          <td>{{ element.invNr }}</td>
        </tr>
        <tr>
          <td>Ansch.-Datum</td>
          <td>{{ element.anschDat | date: "mediumDate" }}</td>
        </tr>
        <tr>
          <td>Ansch.-Wert</td>
          <td>{{ element.anschWert | currency: "EUR":"€" }}</td>
        </tr>
        <tr>
          <td>SMBIOSGUID</td>
          <td>{{ element.smbiosgiud }}</td>
        </tr>
        <tr>
          <td>Wartung-Fa.</td>
          <td>{{ element.wartungFa }}</td>
        </tr>
      </table>
    </div>
    <div class="detail-cell-margin">
      <table *ngIf="element.vlans.length > 0">
        <thead>
          <tr>
            <th>
              <div class="sub-table-head-title">MAC</div>
            </th>
            <th><div class="sub-table-head-title">IP</div></th>
            <th>
              <div class="sub-table-head-title">VLAN</div>
              <div *ngIf="hwService.userSettings.isAdmin" class="sub-table-head-button edit-button">
                <button
                  mat-icon-button
                  color="primary"
                  title="MACs bearbeiten"
                  [disabled]="hwService.hwFilterService.isFremdeHw(element)"
                  (click)="hwService.hwmacEdit(element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tr *ngFor="let ip of element.vlans">
          <td>
            {{ ip.macStr }}
            <span *ngIf="hwService.userSettings.debug" class="debug"> #{{ ip.hwMacId }} </span>
          </td>
          <td>{{ ip.ipStr }}</td>
          <td>
            {{ ip.bezeichnung }}
            <span *ngIf="hwService.userSettings.debug" class="debug"
              ><span *ngIf="ip.vlanId"> #{{ ip.vlanId }}</span></span
            >
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="hwService.userSettings.debug" class="detail-cell-margin">
      <span *ngIf="element.ap" class="debug">AP #{{ element.ap.apId }} </span>
    </div>
    <div class="fill"></div>
    <div *ngIf="hwService.userSettings.isAdmin" class="detail-cell-margin edit-button">
      <button
        mat-icon-button
        color="primary"
        title="Gerät bearbeiten"
        [disabled]="hwService.hwFilterService.isFremdeHw(element)"
        (click)="hwService.hwEdit(element)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="detail-cell-bemerk">{{ element.bemerkung }}</div>
</div>
