<div [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'" class="detail-cell-content">
  <div class="detail-cell-content-row">
    <div class="detail-cell-margin">
      <table>
        <thead>
          <tr>
            <th colspan="2">Konfiguration</th>
          </tr>
        </thead>
        <tr>
          <td>Kategorie</td>
          <td>{{ element.hwKonfig.apKatBezeichnung }}</td>
        </tr>
        <tr>
          <td>Typ</td>
          <td>{{ element.hwKonfig.hwTypBezeichnung }}</td>
        </tr>
        <tr>
          <td>Hersteller</td>
          <td>{{ element.hwKonfig.hersteller }}</td>
        </tr>
        <tr>
          <td>Typ-Bezeichnung</td>
          <td>{{ element.hwKonfig.bezeichnung }}</td>
        </tr>
        <tr>
          <td>Prozessor</td>
          <td>{{ element.hwKonfig.prozessor }}</td>
        </tr>
        <tr>
          <td>RAM</td>
          <td>{{ hwService.formatMbSize(element.hwKonfig.ram) }}</td>
        </tr>
        <tr>
          <td>HD</td>
          <td>{{ hwService.formatMbSize(element.hwKonfig.hd) }}</td>
        </tr>
        <tr>
          <td>Grafik</td>
          <td>{{ element.hwKonfig.video }}</td>
        </tr>
        <tr>
          <td>Sonstiges</td>
          <td class="detail-cell-bemerk-td">{{ element.hwKonfig.sonst }}</td>
        </tr>
      </table>
    </div>
    <div class="detail-cell-margin">
      <table>
        <thead>
          <tr>
            <th colspan="2">Hardware</th>
          </tr>
        </thead>
        <tr>
          <td>Serien-Nr.</td>
          <td>{{ element.sernr }}</td>
        </tr>
        <tr>
          <td>Inventar-Nr.</td>
          <td>{{ element.invNr }}</td>
        </tr>
        <tr>
          <td>Ansch.-Datum</td>
          <td>{{ element.anschDat | date: "mediumDate" }}</td>
        </tr>
        <tr>
          <td>Ansch.-Wert</td>
          <td>{{ element.anschWert | currency: "EUR":"€" }}</td>
        </tr>
        <tr>
          <td>SMBIOSGUID</td>
          <td>{{ element.smbiosgiud }}</td>
        </tr>
        <tr>
          <td>Wartung-Fa.</td>
          <td>{{ element.wartungFa }}</td>
        </tr>
      </table>
    </div>
    <div class="detail-cell-margin">
      <table *ngIf="element.vlans.length > 0">
        <thead>
          <tr>
            <th>MAC</th>
            <th>IP</th>
            <th>VLAN</th>
          </tr>
        </thead>
        <tr *ngFor="let ip of element.vlans">
          <td>{{ ip.macStr }}</td>
          <td>{{ ip.ipStr }}</td>
          <td>{{ ip.bezeichnung }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="detail-cell-bemerk">{{ element.bemerkung }}</div>
</div>
