<!--<p-table-->
<!--&gt;-->
<!--  <ng-template pTemplate="emptymessage">-->
<!--    Keine Daten gefunden.-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="colgroup" let-columns>-->
<!--    <colgroup>-->
<!--      <col style="width: 38px">-->
<!--      <col>-->
<!--      <col style="width: 100px">-->
<!--      <col style="width: 180px">-->
<!--      <col style="width: 180px">-->
<!--    </colgroup>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="header" let-columns>-->

<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">-->

<!--  </ng-template>-->
<!--</p-table>-->

<p>AP-List</p>
