.panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.abstand {
  margin-left: 8px;
}

.oe-fields {
  display: inline-flex;
  flex-direction: row;
}

.textinp {
  width: 360px;
}
.standort {
  margin-right: 8px;
}
