<sbsdb-dialog-title dialogTitle="{{ data.title }}"></sbsdb-dialog-title>
<form
  [formGroup]="formGroup"
  (ngSubmit)="submit()"
  [class.error]="!formGroup.valid && formGroup.touched"
>
  <div class="panel"></div>
  <mat-dialog-content class="panel">
    <mat-form-field class="aussonderung">
      <mat-label>Aussonderungs-Grund</mat-label>
      <input matInput [formControl]="grundCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="grundCtrl.invalid">{{ getErrorMessage(grundCtrl) }}</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <sbsdb-dialog-actions [data]="data" [formGroup]="formGroup"></sbsdb-dialog-actions>
</form>
