<sbsdb-std-table
  [columns]="columns"
  [dataSource]="dataSource"
  recordName="OE"
  [refreshTableEvent]="refreshTableEvent"
  [csvEvent]="csvEvent"
  [newEvent]="adminService.newRecordEvent"
  [chgEvent]="changeEvent"
  [delEvent]="delEvent"
  sortColumn="oenr"
  multiline="true"
  [pagename]="pagename"
></sbsdb-std-table>

<!-- #infoTpl wird in der Base-Class verwendet -->
<ng-template #infoTpl>
  <p>Organisationseinheiten</p>
  <p>
    SBSDB-interne OE-Struktur. Folgt dem Organigramm, mit Anpassungen, die die Verwaltung der
    Arbeitsplätze und der Hardware erleichtern.
  </p>
  <p><strong>OE-Nr.</strong> - 3-stellig, analog der alten BST-Nr..</p>
  <p>
    <strong>AP</strong> - das Feld legt fest, ob der OE Arbeitsplätze zugewiesen werden können (kann
    nicht nachträglich geändert werden).
  </p>
  <p>
    <strong>Übergeordnete OE</strong> - hiermit wird die OE-Hierarchie festgelegt (Tiefe ist nicht
    begrenzt).
  </p>
</ng-template>
