<mat-card class="ext-filter-panel ext-filter-panel-size">
  <div mat-card-header>
    <div mat-card-subtitle>
      <span class="panel-title"> Erweiterte Suche </span>
      <mat-form-field class="abstand">
        <mat-label>Gespeicherte Filter</mat-label>
        <select
          matNativeControl
          [(ngModel)]="editFilter.filterService.selectedFilter"
          (change)="editFilter.filterService.selectFilter(editFilter.filterService.selectedFilter)"
        >
          <optgroup label="Vordefinierte Filter">
            <option
              *ngFor="let filt of editFilter.filterService.extGlobalFilterList()"
              [ngValue]="filt"
            >
              {{ filt.name }}
            </option>
          </optgroup>
          <optgroup label="Benutzerdefinierte Filter">
            <option *ngFor="let filt of editFilter.filterService.extFilterList()" [ngValue]="filt">
              {{ filt.name }}
            </option>
          </optgroup>
        </select>
      </mat-form-field>

      <button
        mat-icon-button
        color="primary"
        title="Aktuellen Filter speichern"
        [disabled]="
          editFilter.filterService.filterExpression.elements.length === 0 ||
          editFilter.filterService.selectedFilter !== null
        "
        (click)="editFilter.filterService.addFilter()"
      >
        <mat-icon>save_alt</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        title="Ausgewählten Filter aus der Liste löschen"
        [disabled]="
          editFilter.filterService.selectedFilter === null ||
          editFilter.filterService.selectedFilter.type > 0
        "
        (click)="editFilter.filterService.deleteFilter()"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        *ngIf="editFilter.filterService.userSettings.isAdmin"
        mat-icon-button
        color="primary"
        [title]="
          editFilter.filterService.selectedFilter &&
          editFilter.filterService.selectedFilter.type === 0
            ? 'Filter zu Vordefinierten verschieben'
            : 'Filter zu Benutzerdefinierten verschieben'
        "
        [disabled]="editFilter.filterService.selectedFilter === null"
        (click)="editFilter.filterService.moveFilter()"
      >
        <mat-icon>swap_vert</mat-icon>
      </button>
      <div style="float: right" (click)="editFilter.filterService.toggleExtendedFilter()">
        <button mat-icon-button title="Schließen">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <!--      <button-->
      <!--        *ngIf="editFilter.filterService.userSettings.isAdmin"-->
      <!--        mat-icon-button-->
      <!--        color="accent"-->
      <!--        title="Aktuelle Suche für alle Benutzer speichern"-->
      <!--        [disabled]="-->
      <!--          editFilter.filterService.filterExpression.elements.length === 0 ||-->
      <!--          (editFilter.filterService.selectedFilter !== null && editFilter.filterService.selectedFilter.type > 0)-->
      <!--        "-->
      <!--        (click)="editFilter.filterService.addGlobalFilter()"-->
      <!--      >-->
      <!--        <mat-icon>save_alt</mat-icon>-->
      <!--      </button>-->
      <!--      <button-->
      <!--        *ngIf="editFilter.filterService.userSettings.isAdmin"-->
      <!--        mat-icon-button-->
      <!--        color="accent"-->
      <!--        title="Ausgewählte globale Suche aus der Liste löschen"-->
      <!--        [disabled]="editFilter.filterService.selectedFilter === null || editFilter.filterService.selectedFilter.type === 0"-->
      <!--        (click)="editFilter.filterService.deleteGlobalFilter()"-->
      <!--      >-->
      <!--        <mat-icon>delete</mat-icon>-->
      <!--      </button>-->
    </div>
  </div>
  <div mat-card-content>
    <sbsdb-filter-bracket [element]="data" title="zum Bearbeiten klicken"></sbsdb-filter-bracket>
  </div>
</mat-card>
