@use "@angular/material" as mat;
@mixin table-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  /* Detail-Anzeige */
  tr.mat-row.detail-cell-row {
    height: 0;
  }

  tr.table-row.table-row-clickable:hover,
  tr.table-row.table-row-clickable.row-menu-open { /* TODO */
    background-color: mat.get-color-from-palette($primary, 100);
  }

  .detail-cell-expanded {
    background-color: mat.get-color-from-palette($primary, 100, 0.5);
  }
  .detail-cell-content-expanded {
    background-color: mat.get-color-from-palette($primary, 100, 0.04);
  }
  .detail-cell-expanded div {
    white-space: unset !important;
  }
  .detail-cell-expanded .highlight-when-expanded {
    font-weight: bold !important;
    color: mat.get-color-from-palette($foreground, text);
  }
  tr.detail-cell-expanded td {
    border-top: solid 1px;
    border-top-color: mat.get-color-from-palette($primary, 200);
  }

  .pseudo-button {
    cursor: pointer;
    font-weight: 500;
  }

  .detail-cell-expanded .pseudo-button {
    cursor: auto;
  }

  .detail-cell-content {
    overflow: hidden;
    display: flex;
    //padding: 10px 0;
    flex-direction: column;
    border: 0;
  }

  .detail-cell-expanded td.mat-cell,
  td.mat-cell.detail-cell-cell {
    border-bottom-style: none;
  }
  .detail-cell-content-expanded td.mat-cell.detail-cell-cell {
    border-bottom: solid 2px;
    border-bottom-color: mat.get-color-from-palette($primary, 200);
  }

  .detail-cell-content table {
    border-collapse: collapse;
  }

  .detail-cell-content td,
  .detail-cell-content th {
    border: solid 1px var(--md-details-border-color);
    border-left: none;
    border-right: none;
    padding: 4px 15px;
  }

  .detail-cell-content th {
    font-weight: normal;
    background-color: mat.get-color-from-palette($primary, 100, 0.5);
  }

  .detail-cell-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .detail-cell-margin {
    margin-top: 25px;
    margin-right: 30px;
  }

  .detail-cell-standort-text {
    background-color: mat.get-color-from-palette($primary, 100, 0.5);
    padding: 2px 10px;
    border-left: solid 1px var(--md-details-border-color);
    border-bottom: solid 1px var(--md-details-border-color);
    min-width: 140px;
  }

  .detail-cell-bemerk {
    white-space: pre-wrap;
    margin-top: 15px;
    padding: 4px 15px;
    max-width: 600px;
  }

  .detail-cell-bemerk-td {
    white-space: pre-wrap;
  }

  /* extended Filter */
  .mat-button-filter {
    min-width: 0 !important;
    padding: 0 4px !important;
  }
  .ext-filter-panel {
    background-color: var(--md-light-gray-background-color);
  }

  .ext-filter-button-select {
    background-color: mat.get-color-from-palette($background, background);
    color: mat.get-color-from-palette($primary, A400);
    //color: #fd3232;
  }

  .mat-card .mat-flat-button.mat-button-filter {
    background-color: transparent;
  }
  .mat-card .mat-flat-button.highlight,
  .mat-card .highlight .mat-button.mat-button-filter,
  .mat-card .highlight .mat-flat-button.mat-button-filter {
    background-color: mat.get-color-from-palette($primary, A400, 0.2);
  }

  /* Input */

  .input-title {
    background-color: mat.get-color-from-palette($primary, 100, 0.5);
  }

  /* HW-History */

  .history-table th {
    background-color: mat.get-color-from-palette($primary, 100);
  }
  .history-table tr.highlight {
    background-color: mat.get-color-from-palette($primary, 100, 0.4);
  }
}
