<mat-card>
  <div class="input-title card-title">
    <!--  <mat-card-header class="input-title card-title">-->
    <!--    <mat-card-subtitle>-->
    Sonstige Informationen
    <div class="fill"></div>
    <button
      mat-icon-button
      title="Neuen Eintrag anfügen"
      type="button"
      (click)="addTag()"
      [disabled]="tagFormGroup.invalid"
      [color]="'primary'"
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <!--    </mat-card-subtitle>-->
    <!--  </mat-card-header>-->
  </div>
  <mat-card-content>
    <!-- umgebende FORM muss die uebergeordnete component bereitstellen -->
    <div [formGroup]="tagFormGroup" class="tag-box">
      <div *ngFor="let tag of tagInput">
        <mat-form-field class="abstand">
          <mat-select
            [formControl]="tag.tagCtrl"
            [errorStateMatcher]="matcher"
            #tagsel
            (selectionChange)="onSelectionChange($event, tag)"
          >
            <mat-option *ngFor="let t of apTagTypes" [value]="t">
              {{ t.bezeichnung }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tag.tagCtrl.invalid">{{ getErrorMessage(tag.tagCtrl) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="abstand">
          <input
            #tagtext
            matInput
            [formControl]="tag.textCtrl"
            [errorStateMatcher]="matcher"
            [sbsdbDisableControl]="tagsel.value && isBoolTag(tagsel.value.flag)"
          />
          <mat-error *ngIf="tag.textCtrl.invalid">{{ getErrorMessage(tag.textCtrl) }}</mat-error>
        </mat-form-field>
        <!--          *ngIf="tag.tag"-->
        <button mat-icon-button title="Eintrag löschen" (click)="delete(tag)" type="button">
          <mat-icon color="accent">delete_outline</mat-icon>
        </button>
        <!--        <button-->
        <!--          *ngIf="!tag.tag"-->
        <!--          mat-icon-button-->
        <!--          title="Eintrag hinzufügen"-->
        <!--          (click)="add(tag.tagCtrl.value, tag.textCtrl.value)"-->
        <!--          type="button"-->
        <!--          [disabled]="newText.invalid || newTag.invalid"-->
        <!--        >-->
        <!--          <mat-icon [color]="newText.invalid || newTag.invalid ? '' : 'primary'"-->
        <!--            >add_circle_outline</mat-icon-->
        <!--          >-->
        <!--        </button>-->
      </div>
      <mat-error *ngIf="tagFormGroup.invalid">{{ getFormErrorMessage() }}</mat-error>
    </div>
  </mat-card-content>
</mat-card>
