<h2 mat-dialog-title>Benutzerdefinierte Suche speichern</h2>
<div mat-dialog-content>
  <form class="name-input-form">
    <mat-form-field class="name-input">
      <mat-label>Namen für die Suche auswählen/eingeben</mat-label>
      <input type="text" matInput [formControl]="formcontrol" [matAutocomplete]="auto" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayEntry">
        <mat-option *ngFor="let filt of filteredOptions | async" [value]="filt">
          {{ filt.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-flat-button color="primary" mat-dialog-close="">Abbrechen</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="formcontrol.value" type="submit">
    OK
  </button>
</div>
