<mat-card>
  <div class="input-title card-title">Hardware</div>
  <mat-card-content>
    <!-- umgebende FORM muss die uebergeordnete component bereitstellen -->
    <div [formGroup]="hwFormGroup" class="hw-box">
      <div>
        <sbsdb-edit-hw
          [hw]="data.priHw"
          [ap]="ap"
          [pri]="true"
          [formGroup]="hwFormGroup"
          [onSubmit]="onSubmit"
          (delete)="delPeripherie($event)"
          (editHwReady)="editHwReady()"
        ></sbsdb-edit-hw>
      </div>
      <div class="input-title card-title periph-title">
        Peripherie
        <div class="fill"></div>
        <button
          mat-icon-button
          title="Weitere Peripherie anfügen"
          type="button"
          (click)="addPeripherie()"
          [disabled]="periFormGroup.invalid"
          [color]="'primary'"
        >
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
      <div *ngFor="let peri of data.periph">
        <sbsdb-edit-hw
          [hw]="peri"
          [ap]="ap"
          [pri]="false"
          [formGroup]="periFormGroup"
          [onSubmit]="onSubmit"
          (delete)="delPeripherie($event)"
          (editHwReady)="editHwReady()"
        ></sbsdb-edit-hw>
      </div>
    </div>
  </mat-card-content>
</mat-card>
