<div mat-dialog-actions class="dialog-bottom">
  <div class="dialog-info">
    <mat-icon
      *ngIf="formGroup.dirty"
      title="Dialog enthält nicht gespeicherte Daten"
      [class.error-info]="formGroup.invalid"
      >edit_note</mat-icon
    >
  </div>
  <div class="action-buttons">
    <button mat-flat-button color="primary" mat-dialog-close="">Abbrechen</button>
    <button
      mat-flat-button
      color="primary"
      [mat-dialog-close]="data"
      [disabled]="isInvalid()"
      type="submit"
    >
      Speichern
    </button>
    <button
      *ngIf="show && formGroup.dirty"
      mat-flat-button
      color="primary"
      title="Speichern und zum nächsten Datensatz wechseln."
      [mat-dialog-close]="data"
      [disabled]="isInvalid()"
      (click)="navigateForward()"
    >
      Speichern
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
