<!--<div class="flex-row" >-->
<!--  <div class="flex-panel treePanel">-->
<!--    <sbsdb-ap-tree></sbsdb-ap-tree>-->
<!--  </div>-->
<!--  <div fb-splitter ></div>-->
<!--  <div class="flex-panel flex-max listPanel">-->
<!--    <sbsdb-ap-list></sbsdb-ap-list>-->
<!--  </div>-->
<!--</div>-->

<!--<mat-sidenav-container id="container" >-->
<!--  <mat-sidenav mode="side" opened id="sidenav">-->
<!--    <sbsdb-ap-tree></sbsdb-ap-tree>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>Main content</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->

<!-- custom filter:
https://stackoverflow.com/questions/48276404/filtering-specific-column-in-angular-material-table-in-angular-5
table:
https://blog.angular-university.io/angular-material-data-table/
https://github.com/angular/components/issues/6178
-->
<div class="flex-content">
  <div class="spinner-container" *ngIf="apService.loading">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="apService.apDataSource"
         matSort
  >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="aptyp">
      <th mat-header-cell *matHeaderCellDef>
        <span mat-sort-header class="sort-header">Typ</span>
        <mat-form-field floatLabel="never" class="filter-s">
          <mat-label>Filter</mat-label>
          <input matInput [formControl]="apService.typFilter">
          <button mat-button [disabled]="!apService.typFilter.dirty" matSuffix mat-icon-button (click)="apService.typFilter.reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element" style="flex-direction: column; align-items: flex-start;">
        <div style="margin-top: 4px;">{{element.aptyp}}</div>
        <div style="margin-top: 4px; font-size: 12px;">{{element.typTagsStr}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="apname">
      <th mat-header-cell *matHeaderCellDef>
        <span mat-sort-header class="sort-header">AP-Name</span>
        <mat-form-field floatLabel="never" class="filter-s">
          <mat-label>Filter</mat-label>
          <input matInput [formControl]="apService.nameFilter">
          <button mat-button [disabled]="!apService.nameFilter.dirty" matSuffix mat-icon-button (click)="apService.nameFilter.reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{element.apname}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="betrst">
      <th mat-header-cell *matHeaderCellDef>
        <span mat-sort-header class="sort-header">OE</span>
        <mat-form-field floatLabel="never" class="filter-m">
          <mat-label>Filter</mat-label>
          <input matInput [formControl]="apService.bstFilter">
          <button mat-button [disabled]="!apService.bstFilter.dirty" matSuffix mat-icon-button (click)="apService.bstFilter.reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{element.oe.betriebsstelle}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="bezeichnung">
      <th mat-header-cell *matHeaderCellDef>
        <span mat-sort-header class="sort-header">Bezeichnung</span>
        <mat-form-field floatLabel="never" class="filter-m">
          <mat-label>Filter</mat-label>
          <input matInput [formControl]="apService.bezFilter">
          <button mat-button [disabled]="!apService.bezFilter.dirty" matSuffix mat-icon-button (click)="apService.bezFilter.reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">
        <div>{{element.bezeichnung}}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="apService.displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: apService.displayedColumns;"></tr>
  </table>

</div>
