// Dimensionen fuer Baum und Liste
$treeWidth: 350px;
$treeMinWidth: 100px;

$listWidth: 100%;
$listMinWidth: 100px;

.treePanel {
  width: $treeWidth;
  min-width: $treeMinWidth;
}

.listPanel {
  width: $listWidth;
  min-width: $listMinWidth;
}

/* Spalten */
.mat-column-apname {
  width: 180px;
  //min-width: 180px;
  //max-width: 180px;
}
.mat-column-aptyp {
  width: 180px;
  //min-width: 180px;
  //max-width: 180px;
}

// Tooltip setzt user-select auf "none"
.mat-column-betrst {
  width: 30%;
  -moz-user-select: auto !important;
}
.mat-column-bezeichnung {
  width: 30%;
}

.mat-column-ip {
  width: 25%;
}

.ip-cell {
  padding-right: 15px;
}

.mat-column-hardware {
  width: 20%;
}

.mat-column-select,
.mat-column-menu {
  width: 25px;
}

/* Filter mit select box */
.select-filter {
  white-space: nowrap;
}

/* AP-Typ */
//.aptyp {
//  flex-direction: column;
//  align-items: flex-start;
//}
//.aptyp-tag {
//  font-size: 12px;
//  margin-top: 3px;
//}
//
//.aptyp-btn {
//  display: flex;
//  flex-direction: row;
//  align-items: baseline;
//  height: 34px;
//}
//.aptyp-btn mat-icon {
//  font-size: 30px;
//}
//
//.aptyp-btn button {
//  text-align: left;
//}

/* AP-Details */
// muss hier definiert werden und nicht global
//td.mat-cell {
//  border: 0;
//}

/* Paginator */
.paginator {
  height: 56px;
  background-color: var(--md-light-gray-background-color);
}

/* Menue */
.menue-entry {
  display: flex;
  align-items: center;
}

.menue-checkbox {
  padding-left: 10px;
}

/* extended Filter */
//.ext-filter-button-select {
//  background-color: var(--md-light-gray-background-color);
//  color: #fd3232;
//}
