
/* Spalten */
.mat-column-apname {
  width: 180px;
}
.mat-column-aptyp {
  width: 180px;
}
.mat-column-kategorie {
  width: 180px;
}

// Tooltip setzt user-select auf "none"
.mat-column-betrst {
  width: 30%;
  //-moz-user-select: auto !important;
}
.mat-column-bezeichnung {
  width: 30%;
}

.mat-column-ip {
  width: 25%;
}

.ip-cell {
  padding-right: 15px;
}

.mat-column-hardware {
  width: 20%;
}

.mat-column-select,
.mat-column-menu {
  width: 25px;
}

/* Filter mit select box */
.select-filter {
  white-space: nowrap;
}

/* Paginator */
.paginator {
  height: 56px;
  background-color: var(--md-light-gray-background-color);
}

/* extended Filter */
.distinction {
  border-bottom: solid 3px salmon;
}
/* TODO ein paar Styles nach styles.scss ausgelagert
        wenn mal Zeit ist: testen, was da nicht funktioniert
 */
.search-field {
  background-color: rgba(255,255,255,0.8);
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  font-size: .7em;
}
