@mixin ap-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  /* Detail-Anzeige */
  tr.mat-row.ap-detail-row {
    height: 0;
  }

  tr.ap-row.ap-row-clickable:hover {
    background-color: mat-color($primary, 100);
  }


  .ap-detail-expanded,
  .ap-detail-content-expanded {
    background-color: mat-color($primary, 100, .5);
  }
  .ap-detail-expanded div {
    white-space: unset !important;
  }

  .ap-detail-expanded .highlight-when-expanded {
    font-weight: bold !important;
    color: mat-color($foreground, text);
  }

  .pseudo-button {
    cursor: pointer;
    font-weight: 500;
  }

  .ap-detail-expanded .pseudo-button {
    cursor: auto;
  }

  .ap-detail-content {
    overflow: hidden;
    display: flex;
    //padding: 10px 0;
    flex-direction: column;
    border: 0;
  }

  .ap-detail-expanded td.mat-cell,
  td.mat-cell.ap-detail-cell {
    border-bottom-style: none;
  }
  .ap-detail-content-expanded td.mat-cell.ap-detail-cell {
    border-bottom-style: solid;
  }

  .ap-detail-content table {
    border-collapse: collapse;
  }

  .ap-detail-content td,
  .ap-detail-content th {
    border: solid 1px var(--md-details-border-color);
    padding: 4px 15px;
  }

  .ap-detail-content th {
    font-weight: normal;
    background-color: mat-color($primary, 100);
  }

  .ap-detail-content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ap-detail-margin {
    margin-top: 25px;
    margin-right: 30px;
  }

  .ap-detail-standort-text {
    background-color: mat-color($primary, 100);
    padding: 2px 10px;
    border-left: solid 1px var(--md-details-border-color);
    border-bottom: solid 1px var(--md-details-border-color);
    min-width: 140px;
  }

  .ap-detail-oeff {
    white-space: pre-wrap;
    font-family: "Roboto Mono", monospace;
    font-size: 13px;
  }

  .ap-detail-bemerk {
    white-space: pre-wrap;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  /* extended Filter */
  .mat-button-filter {
    min-width: 0 !important;
    padding: 0 4px !important;
  }
  .ext-filter-panel {
    background-color: var(--md-light-gray-background-color);
  }

  .ext-filter-button-select {
    background-color: mat-color($background, background);
    color: mat-color($primary, A400);
    //color: #fd3232;
  }

  .mat-card .mat-flat-button.mat-button-filter {
    background-color: transparent;
  }
  .mat-card .mat-flat-button.highlight,
  .mat-card .highlight .mat-button.mat-button-filter,
  .mat-card .highlight .mat-flat-button.mat-button-filter {
    background-color: mat-color($primary, A400, 0.2);
  }
}
