<div class="flex-content">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    multiTemplateDataRows
    [class.wrap-cell]="userSettings.cellLineBreak"
  >
    <!--  (matSortChange)="apService.onSort($event)" wuerde nur gebraucht, wenn der sort in den User-Settings abgelegt wird -->

    <!-- COLUMN begin -->
    <ng-container *ngFor="let col of textColumns" [matColumnDef]="col">
      <!-- HEAD -->
      <th mat-header-cell *matHeaderCellDef>
        <sbsdb-header-cell
          [column]="getColumn(col)"
          showFilter="true"
          [size]="getColumn(col).size"
        ></sbsdb-header-cell>
      </th>
      <!-- DATA -->
      <td mat-cell *matCellDef="let row">
        <!--      class="highlight-when-expanded"-->
        <!--      (click)="apService.expandApRow(row, $event)"-->
        <div sbsdbTooltipOnEllipsis>{{ getColumn(col).displayText(row) }}</div>
      </td>
    </ng-container>
    <!-- COLUMN end -->

    <!-- COLUMN menu begin -->
    <ng-container matColumnDef="menu">
      <!-- HEAD -->
      <th mat-header-cell *matHeaderCellDef class="icon-column">
        <!--        <button mat-icon-button *ngIf="userSettings.isAdmin" (click)="testclick(null)">-->
        <!--          <mat-icon title="Neuen {{ recordName }}-Datensatz anlegen" color="primary"-->
        <!--            >add_to_queue</mat-icon-->
        <!--          >-->
        <!--        </button>-->
      </th>
      <!-- DATA -->
      <td mat-cell *matCellDef="let element" #menuCell>
        <button
          mat-icon-button
          [matMenuTriggerFor]="rowmenu"
          [matMenuTriggerData]="{ row: element }"
          (menuOpened)="menuCell.parentElement.classList.add('row-menu-open')"
          (menuClosed)="menuCell.parentElement.classList.remove('row-menu-open')"
          color="primary"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- COLUMN menu end -->

    <!-- footer template -->
    <ng-container matColumnDef="footer">
      <td mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length" class="footer-cell">
        <div>
          {{ dataSource.filteredData.length }} gefiltert aus
          {{ dataSource.data.length }}
        </div>
        <div class="fill"></div>
        <div style="font-size: 10px">
          <!--  rechtsbuendiger Text -->
        </div>
      </td>
    </ng-container>

    <!-- Header row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <!-- Details row -->
    <tr
      mat-row
      *matRowDef="let element; columns: displayedColumns"
      class="table-row table-row-clickable"
    ></tr>
    <!-- Footer row -->
    <tr mat-footer-row *matFooterRowDef="['footer']; sticky: true"></tr>
  </table>
</div>

<!-- Zeilen-Menue -->
<mat-menu #rowmenu="matMenu">
  <ng-template matMenuContent let-row="row">
    <button mat-menu-item *ngIf="userSettings.isAdmin" (click)="chgRecord(row)">
      <mat-icon>edit</mat-icon>
      {{ recordName }} bearbeiten
    </button>
    <button mat-menu-item *ngIf="userSettings.isAdmin" (click)="newRecord()">
      <mat-icon>add_to_queue</mat-icon>
      {{ recordName }} anlegen
    </button>
    <button
      mat-menu-item
      *ngIf="userSettings.isAdmin"
      (click)="delRecord(row)"
      [disabled]="row.inUse"
    >
      <mat-icon>delete_forever</mat-icon>
      {{ recordName }} löschen
    </button>
  </ng-template>
</mat-menu>
