.abstand-top {
  margin-top: 20px !important;
}

.abstand {
  margin-left: 8px;
}

.fields {
  display: inline-flex;
  flex-direction: column;
}
.row-align {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}
.ap-text {
  padding-top: 12px;
  font-weight: bold;
}
