.status-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
  opacity: 1;
  font-size: 14px;
}

.success {
  color: springgreen;
}
.warn {
  color: yellow;
}
.error {
  color: #ff6666;
}

.status-btn {
  color: skyblue;
}
