.status-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.status-info {
  color: springgreen;
}
.status-warn {
  color: yellow;
}
.status-error {
  color: #ff8866;
}

.status-icon {
  opacity: 0.6;
  margin-right: 20px;
  font-size: 30px;
  height: 32px;
  width: 32px;
}
