.button-dist {
  margin-right: 10px;
}

.hide-detail {
  display: none;
}

.meldung-btn {
  margin-left: 20px;
}

.heading {
  display: inline-flex;
  align-items: center;
}
.heading-text {
  margin: 10px 20px;
}

.foot {
  font-size: 12px;
  background-color: var(--md-light-gray-background-color);
  color: rgba(0, 0, 0, 0.54);
}
