<mat-card>
  <div class="input-title card-title">Konfiguration</div>

  <mat-card-content class="fields">
    <!-- umgebende FORM muss die uebergeordnete component bereitstellen -->
    <!--    <div [formGroup]="apFormGroup"></div>-->

    <mat-form-field class="abstand abstand-top">
      <mat-label>Typ</mat-label>
      <select matNativeControl [formControl]="hwtypCtrl" [errorStateMatcher]="matcher">
        <option *ngFor="let ht of hwtyplist" [ngValue]="ht?.id ?? null">
          {{ ht ? ht.apkategorie + " - " + ht.bezeichnung : "- bitte auswählen -" }}
        </option>
      </select>
      <mat-error *ngIf="hwtypCtrl.invalid">{{ getErrorMessage(hwtypCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand textinp">
      <mat-label>Hersteller</mat-label>
      <input matInput [formControl]="herstellerCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="herstellerCtrl.invalid">{{ getErrorMessage(herstellerCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand textinp">
      <mat-label>Bezeichnung</mat-label>
      <input matInput [formControl]="bezeichCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="bezeichCtrl.invalid">{{ getErrorMessage(bezeichCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand textinp">
      <mat-label>Prozessor</mat-label>
      <input matInput [formControl]="cpuCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="cpuCtrl.invalid">{{ getErrorMessage(cpuCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand textinp">
      <mat-label>RAM (MB)</mat-label>
      <input matInput [formControl]="ramCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="ramCtrl.invalid">{{ getErrorMessage(ramCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand textinp">
      <mat-label>HD (MB)</mat-label>
      <input matInput [formControl]="hdCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="hdCtrl.invalid">{{ getErrorMessage(hdCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand textinp">
      <mat-label>Grafik</mat-label>
      <input matInput [formControl]="videoCtrl" [errorStateMatcher]="matcher" />
      <mat-error *ngIf="videoCtrl.invalid">{{ getErrorMessage(videoCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand bemerkung">
      <mat-label>Sonstiges</mat-label>
      <textarea
        matInput
        [formControl]="sonstCtrl"
        cdkTextareaAutosize
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="5"
      ></textarea>
      <mat-error *ngIf="sonstCtrl.invalid">{{ getErrorMessage(sonstCtrl) }}</mat-error>
    </mat-form-field>
  </mat-card-content>
</mat-card>
