<sbsdb-std-table
  [columns]="columns"
  [dataSource]="dataSource"
  recordName="AP-Kategorie"
  [refreshTableEvent]="refreshTableEvent"
  [csvEvent]="csvEvent"
  [newEvent]="adminService.newRecordEvent"
  [chgEvent]="changeEvent"
  [delEvent]="delEvent"
  sortColumn="apkat"
  [pagename]="pagename"
></sbsdb-std-table>

<!-- #infoTpl wird in der Base-Class verwendet -->
<ng-template #infoTpl>
  <p>Arbeitsplatz-Kategorien</p>
  <p>
    Grundlegende Klassifizierung der Arbeitsplätze und der Hardware, die steuert, welche Geräte
    einem Arbeitsplatz zugeordnet werden dürfen.
  </p>
  <p>
    <strong>Flag = 1</strong> legt die Kategorie für Peripherigeräte fest, also Hardware, die nicht
    als primäre Hardware beim Arbeitsplatz eingetragen werden kann (kann nicht nachträglich geändert
    werden).
  </p>
</ng-template>
