.btn-list {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}
.adm-btn {
  width: 100%;
  margin-bottom: 6px;
}
.mat-stroked-button:not(.mat-button-disabled) {
  background-color: rgba(0, 0, 100, 0.02);
}
