<mat-action-list class="btn-list">
  <button
    mat-raised-button
    [routerLink]="admConfigPath"
    class="adm-btn"
    [color]="navigationService.currentPath === admConfigPath ? '' : 'primary'"
    [skipLocationChange]="navigationService.currentPath === admConfigPath"
    title="Allgemeine Programmparameter"
  >
    Globale Konfiguration
  </button>
  <button
    mat-raised-button
    [routerLink]="admApFilterPath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admApFilterPath"
    [color]="navigationService.currentPath === admApFilterPath ? '' : 'primary'"
    title="Selbstdefinierte Filter allen Benutzern bereitstellen"
  >
    Globale Arbeitsplatzfilter
  </button>
  <button
    mat-raised-button
    [routerLink]="admAdressePath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admAdressePath"
    [color]="navigationService.currentPath === admAdressePath ? '' : 'primary'"
    title="Adressen für OEs bearbeiten"
    disabled="true"
  >
    Hausanschriften
  </button>
  <button
    mat-raised-button
    [routerLink]="admApkategoriePath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admApkategoriePath"
    [color]="navigationService.currentPath === admApkategoriePath ? '' : 'primary'"
    title="Arbeitsplatz-Kategorien bearbeiten"
  >
    AP-Kategorien
  </button>
  <button
    mat-raised-button
    [routerLink]="admAptypPath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admAptypPath"
    [color]="navigationService.currentPath === admAptypPath ? '' : 'primary'"
    title="Arbeitsplatz-Typen bearbeiten"
  >
    AP-Typen
  </button>
  <button
    mat-raised-button
    [routerLink]="admExtprogPath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admExtprogPath"
    [color]="navigationService.currentPath === admExtprogPath ? '' : 'primary'"
    title="Externe Programmaufrufe zu AP-Typen zuordnen"
  >
    Externe Programme
  </button>
  <button
    mat-raised-button
    [routerLink]="admHwtypPath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admHwtypPath"
    [color]="navigationService.currentPath === admHwtypPath ? '' : 'primary'"
    title="Hardware-Typen bearbeiten"
  >
    HW-Typen
  </button>
  <button
    mat-raised-button
    [routerLink]="admOePath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admOePath"
    [color]="navigationService.currentPath === admOePath ? '' : 'primary'"
    title="Organisationseinheiten bearbeiten"
    disabled="true"
  >
    OE
  </button>
  <button
    mat-raised-button
    [routerLink]="admTagtypPath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admTagtypPath"
    [color]="navigationService.currentPath === admTagtypPath ? '' : 'primary'"
    title="Sonstige Informations-Typen bearbeiten"
  >
    TAG-Typen
  </button>
  <button
    mat-raised-button
    [routerLink]="admVlanPath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admVlanPath"
    [color]="navigationService.currentPath === admVlanPath ? '' : 'primary'"
    title="Netzwerke bearbeiten"
    disabled="true"
  >
    VLAN
  </button>

  <button
    mat-raised-button
    [routerLink]="admTcLogsPath"
    class="adm-btn"
    [skipLocationChange]="navigationService.currentPath === admTcLogsPath"
    [color]="navigationService.currentPath === admTcLogsPath ? '' : 'primary'"
    title="Protokoll des letzten Thin-Client-IP-Imports"
  >
    Thin-Client-Log
  </button>
</mat-action-list>
