<sbsdb-dialog-title dialogTitle="Filter-Ausdruck bearbeiten"></sbsdb-dialog-title>

<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  [class.error]="!formGroup.valid && formGroup.touched"
>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Feld</mat-label>
      <select
        matNativeControl
        [formControl]="fieldCtrl"
        [errorStateMatcher]="matcher"
        (change)="onFieldSelectionChange()"
      >
        <option *ngFor="let col of columnList()" [ngValue]="col">
          {{ col.displayName }}
        </option>
      </select>
      <mat-error *ngIf="fieldCtrl.invalid">{{ getErrorMessage(fieldCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand">
      <mat-label>Verknüpfung</mat-label>
      <select
        matNativeControl
        [formControl]="opCtrl"
        [errorStateMatcher]="matcher"
        (change)="onOpSelectionChange()"
      >
        <option *ngFor="let oper of selectedColumn()?.operators" [ngValue]="oper">
          {{ oper.toString() }}
        </option>
      </select>
      <mat-error *ngIf="opCtrl.invalid">{{ getErrorMessage(opCtrl) }}</mat-error>
    </mat-form-field>
    <mat-form-field class="abstand">
      <mat-label>Wert</mat-label>
      <input
        *ngIf="!compareAsList()"
        matInput
        [formControl]="valCtrl"
        [errorStateMatcher]="matcher"
      />
      <select
        *ngIf="compareAsList()"
        matNativeControl
        [formControl]="valCtrl"
        [errorStateMatcher]="matcher"
      >
        <option *ngFor="let sel of selectedColumn()?.selectList" [ngValue]="sel">
          {{ sel }}
        </option>
      </select>
      <mat-error *ngIf="valCtrl.invalid">{{ getErrorMessage(valCtrl) }}</mat-error>
    </mat-form-field>
  </div>
  <sbsdb-dialog-actions [data]="data" [formGroup]="formGroup"></sbsdb-dialog-actions>
</form>
