<!--
<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button type="button" pButton icon="pi pi-chevron-circle-left"
            class="ui-button-secondary nav-btn" title="zurück"
            (click)="backBtn()"
    ></button>
    <button type="button" pButton icon="pi pi-chevron-circle-right"
            class="ui-button-secondary spacer2 nav-btn" title="vorwärts"
            (click)="forwardBtn()"
    ></button>

    <span class="spacer page-btn">
      <button *ngIf="!navigationService.isPage('/ap')"
              label="Arbeitsplätze" icon="pi pi-user"
              type="button" pButton (click)="navigate('/ap')"></button>
      <p-splitButton *ngIf="navigationService.isPage('/ap')"
                     label="Arbeitsplätze" icon="pi pi-user" styleClass="ui-button-warning"
                     [model]="items" [appendTo]="'body'"></p-splitButton>
    </span>
    <span class="spacer page-btn">
      <button *ngIf="!navigationService.isPage('/hw')"
              label="Hardware" icon="pi pi-print"
              type="button" pButton (click)="navigate('/hw')"></button>
      <p-splitButton *ngIf="navigationService.isPage('/hw')"
                     label="Hardware" icon="pi pi-print" styleClass="ui-button-warning"
                     [model]="items" [appendTo]="'body'"></p-splitButton>
    </span>
    <span class="spacer page-btn">
      <button *ngIf="!navigationService.isPage('/admin')"
              label="Admin" icon="pi pi-unlock"
              type="button" pButton (click)="navigate('/admin')"></button>
      <p-splitButton *ngIf="navigationService.isPage('/admin')"
                     label="Admin" icon="pi pi-unlock" styleClass="ui-button-warning"
                     [model]="items" [appendTo]="'body'"></p-splitButton>
    </span>

    <label>
      <input type="text" pInputText placeholder="Suche" class="spacer">
      <button pButton type="button" label="Suche" icon="fa fa-search" class="ui-button-warning spacer"></button>
      <button pButton type="button" label="Erweiterte Suche" icon="fa fa-search-plus" class="ui-button-warning"></button>
    </label>
  </div>
  <div class="ui-toolbar-group-right">
    <p-slideMenu #menu [model]="mainmenu" [popup]="true" [appendTo]="'body'"
                 backLabel="zurück" [viewportHeight]="mainmenuheight"></p-slideMenu>
    <button type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)" class="ui-button-secondary"></button>

  </div>
</p-toolbar>
-->
<mat-toolbar>
  <nav mat-tab-nav-bar class="spacer2">
    <a mat-tab-link
       *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{link.label}}
    </a>
  </nav>

  <button mat-icon-button (click)="backBtn()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button mat-icon-button (click)="forwardBtn()" class="spacer2">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <!--  <button mat-button (click)="navigate('/ap')">Arbeitsplätze</button>-->
  <!--  <button mat-button (click)="navigate('/hw')">Hardware</button>-->
  <!--  <button mat-button (click)="navigate('/admin')">Admin</button>-->

  <mat-form-field style="font-size: 14px">
    <input matInput type="search" placeholder="Suche" [(ngModel)]="search">
    <button mat-button *ngIf="search" matSuffix mat-icon-button (click)="search=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button mat-button color="accent">Suche</button>
  <button mat-button color="accent">Erweiterte Suche</button>

</mat-toolbar>
