
//.head-spk {
//  background: linear-gradient(to bottom, #fd3232 0%, #ce0000 100%);
//}

/* Vor- Zurueck-Button (primeng) */
.nav-btn {
  height: 33px;
  width: 40px !important;
  font-size: 26px;
}

.page-btn {
  width: 160px;
  min-width: 160px;
  display: inline-grid;
}

.mat-stroked-button {
  font-size: large;
  border-color: rgba(0,0,0,0.5);
}

.dd-icon {
  margin-right: 16px;
}

.mat-raised-button.disabled-button {
  background-color: transparent;
  border-bottom: solid 2px darkorange;
  color: inherit;
}
.mat-raised-button:not(.mat-button-disabled):hover {
  background-color: var(--md-row-active-background-color);
}
