.spacer {
  min-width: 25px;
}
.spacer2 {
  margin-right: 20px;
}

.spacer3 {
  margin-right: 25px;
}


/* Vor- Zurueck-Button (primeng) */
.nav-btn {
  height: 33px;
  width: 40px !important;
  font-size: 26px;
}

.page-btn {
  width: 160px;
  min-width: 160px;
  display: inline-grid;
}
