<mat-toolbar color="primary" class="head-spk header">
  <button mat-button [mat-menu-trigger-for]="mainmenu">
    <img
      alt="SBSDB"
      src="./resource/sbs32-grey2.png"
      title="{{ configService.version.displayname }} {{ configService.version.version }}"
    />
  </button>
  <mat-menu #mainmenu="matMenu">
    <button mat-menu-item (click)="about()">
      <mat-icon>info</mat-icon>
      <span>Über</span>
    </button>
    <button mat-menu-item (click)="navigationService.resetApp()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Reset</span>
    </button>
  </mat-menu>

  <span class="spacer"></span>

  <div *ngFor="let link of navLinks">
    <button
      mat-raised-button
      routerLinkActive
      #rla="routerLinkActive"
      [routerLink]="link.path"
      [disabled]="rla.isActive"
      [class.disabled-button]="rla.isActive"
    >
      <!--      <mat-spinner-->
      <!--        diameter="30"-->
      <!--        style="position: fixed; margin: 4px 0 0 20px"-->
      <!--        *ngIf="(link.ap && navigationService.apLoading) || (link.hw && navigationService.hwLoading)"-->
      <!--      ></mat-spinner>-->
      <sbsdb-accelerator-string [text]="link.label" [accel]="link.key"></sbsdb-accelerator-string>
    </button>
    <span class="spacer2"></span>
  </div>

  <!--  <button mat-raised-button (click)="navigationService.navToAp.emit({ col: '', search: '' })">-->
  <!--    <sbsdb-accelerator-string [text]="'Arbeitsplätze'" [accel]="'a'"></sbsdb-accelerator-string>-->
  <!--  </button>-->
  <!--  <span class="spacer2"></span>-->
  <!--  <button-->
  <!--    mat-raised-button-->
  <!--    routerLinkActive-->
  <!--    #rla="routerLinkActive"-->
  <!--    [routerLink]="'/hw'"-->
  <!--    [disabled]="rla.isActive"-->
  <!--    [class.disabled-button]="rla.isActive"-->
  <!--  >-->
  <!--    <sbsdb-accelerator-string [text]="'Hardware'" [accel]="'h'"></sbsdb-accelerator-string>-->
  <!--  </button>-->
  <!--  <span class="spacer2"></span>-->
  <!--  <button-->
  <!--    mat-raised-button-->
  <!--    routerLinkActive-->
  <!--    #rla="routerLinkActive"-->
  <!--    [routerLink]="'/admin'"-->
  <!--    [disabled]="rla.isActive"-->
  <!--    [class.disabled-button]="rla.isActive"-->
  <!--  >-->
  <!--    <sbsdb-accelerator-string [text]="'Admin'" [accel]="'d'"></sbsdb-accelerator-string>-->
  <!--  </button>-->
  <span class="spacer2"></span>

  <span class="spacer"></span>

  <!--  Navigation ?? -->
  <!--  <button mat-icon-button (click)="backBtn()">-->
  <!--    <mat-icon>arrow_back</mat-icon>-->
  <!--  </button>-->
  <!--  <button mat-icon-button (click)="forwardBtn()">-->
  <!--    <mat-icon>arrow_forward</mat-icon>-->
  <!--  </button>-->

  <span class="spacer"></span>
  <div class="fill"></div>

  <!-- hier kann die jeweilige Seite ihre Menues einhaengen -->
  <ng-content></ng-content>
</mat-toolbar>
