<mat-toolbar color="primary" class="head-spk header">
  <button mat-icon-button [mat-menu-trigger-for]="aboutmenu">
    <img
      alt="SBSDB"
      src="./resource/sbs32-grey2.png"
      title="{{ configService.version.displayname }} {{ configService.version.version }}"
    />
  </button>
  <mat-menu #aboutmenu="matMenu">
    <button mat-menu-item (click)="about()">
      <mat-icon>info</mat-icon>
      <span>Über</span>
    </button>
    <button mat-menu-item (click)="navigationService.resetApp()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Reset</span>
    </button>
  </mat-menu>

  <span class="spacer"></span>
  <button mat-raised-button [mat-menu-trigger-for]="navmenu" *ngIf="userSettings.showNavMenu">
    <mat-icon class="dd-icon">{{ btnTitleIcon() }}</mat-icon>
    {{ btnTitle() }}
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #navmenu="matMenu">
    <div *ngFor="let link of navLinks">
      <button
        mat-menu-item
        routerLinkActive=""
        #rla="routerLinkActive"
        [style.display]="rla.isActive ? 'none' : 'inline-block'"
        [routerLink]="link.path"
      >
        <mat-icon>{{ link.icon }}</mat-icon>
        <sbsdb-accelerator-string [text]="link.label" [accel]="link.key"></sbsdb-accelerator-string>
      </button>
    </div>
  </mat-menu>

  <div *ngIf="!userSettings.showNavMenu" class="btn-menu">
    <div *ngFor="let link of navLinks">
      <button
        mat-stroked-button
        color="primary"
        routerLinkActive="routerlinkactive"
        #rla="routerLinkActive"
        [disabled]="rla.isActive"
        [routerLink]="link.path"
        class="menu-btn"
      >
        <mat-icon class="menu-icon">{{ link.icon }}</mat-icon>
        <sbsdb-accelerator-string [text]="link.label" [accel]="link.key"></sbsdb-accelerator-string>
      </button>
    </div>
  </div>
  <!--    <span class="spacer2"></span>-->

  <span class="spacer2"></span>

  <span class="spacer"></span>

  <!--  Navigation ?? -->
  <!--  <button mat-icon-button (click)="backBtn()">-->
  <!--    <mat-icon>arrow_back</mat-icon>-->
  <!--  </button>-->
  <!--  <button mat-icon-button (click)="forwardBtn()">-->
  <!--    <mat-icon>arrow_forward</mat-icon>-->
  <!--  </button>-->

  <span class="spacer"></span>
  <div class="fill"></div>
  <button
    *ngIf="filterService"
    mat-icon-button
    title="Erweiterte Suche (Alt+E)"
    (click)="filterService.toggleExtendedFilter()"
    [class.ext-filter-button-select]="!filterService.stdFilter"
  >
    <mat-icon>search</mat-icon>
  </button>
  <button
    *ngIf="filterService"
    mat-icon-button
    title="Alle Filter löschen (Alt+L)"
    (click)="filterService.resetFilters()"
    [disabled]="filterService.filterExpression.isEmpty() && filterService.stdFilter"
  >
    <mat-icon>search_off</mat-icon>
  </button>
  <span class="menu-spacer" *ngIf="filterService">|</span>
  <button
    *ngIf="filterService"
    mat-icon-button
    title="Als CSV ausgeben (Alt+X)"
    (click)="filterService.toCsv()"
  >
    <!--      <mat-icon>share</mat-icon>-->
    <mat-icon>file_download</mat-icon>
  </button>
  <span class="menu-spacer" *ngIf="filterService">|</span>
  <button
    *ngIf="newElement"
    [disabled]="!userSettings.isAdmin"
    mat-icon-button
    [title]="newTitle + ' (Alt+N)'"
    (click)="newBtnClick()"
  >
    <!--      <mat-icon>add_circle_outline</mat-icon>-->
    <mat-icon>add_to_queue</mat-icon>
  </button>
  <span class="spacer"></span>
  <button
    *ngIf="mainMenu"
    mat-icon-button
    title="Einstellungen"
    [matMenuTriggerFor]="mainMenu"
    #mainMenuTrigger="matMenuTrigger"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <!-- hier kann die jeweilige Seite ihre Menues einhaengen -->
  <!--  <ng-content></ng-content>-->
</mat-toolbar>
