<sbsdb-dialog-title dialogTitle="Felder für die Ausgabe auswählen"></sbsdb-dialog-title>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="all-checkbox">
    <mat-checkbox [formControl]="checkCtrl" labelPosition="before" (change)="checkClick()">
      Alle Felder ausgeben
    </mat-checkbox>
  </div>
  <div mat-dialog-content>
    <div>
      <mat-selection-list [formControl]="listCtrl">
        <mat-list-option *ngFor="let field of data.fields" [value]="field">{{
          field.displayName
        }}</mat-list-option>
      </mat-selection-list>
    </div>
  </div>

  <sbsdb-dialog-actions [data]="data" [formGroup]="formGroup"></sbsdb-dialog-actions>
</form>
