<div [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'" class="detail-cell-content">
  <div class="detail-cell-content-row">
    <div class="detail-cell-margin detail-cell-standort-text">Standort</div>
    <div class="detail-cell-margin">
      {{ ("000" + element.oe.bstNr).slice(-3) }}<br />
      {{ element.oe.betriebsstelle }}<br /><br />
      {{ element.oe.strasse ? element.oe.strasse + " " : ""
      }}{{ element.oe.hausnr ? element.oe.hausnr : "" }}<br />
      {{ element.oe.plz ? element.oe.plz + " " : "" }}{{ element.oe.ort ? element.oe.ort : "" }}
    </div>
    <div class="detail-cell-margin"></div>
    <div *ngIf="element.oe.oeff" class="detail-cell-margin detail-cell-oeff">
      <span>Öffnungszeiten</span><br />{{ element.oe.oeff }}
    </div>
  </div>
  <div class="detail-cell-content-row">
    <div *ngIf="element.verantwOe" class="detail-cell-margin detail-cell-standort-text">
      Verantwortliche OE
    </div>
    <div class="detail-cell-margin">
      {{ ("000" + element.verantwOe.bstNr).slice(-3) }} -
      {{ element.verantwOe.betriebsstelle }}
    </div>
  </div>
  <div class="detail-cell-content-row">
    <div class="detail-cell-margin">
      <table>
        <thead>
          <th colspan="4">Hardware</th>
        </thead>
        <thead>
          <th>Typ</th>
          <th>Hardware</th>
          <th>IP</th>
          <th>MAC</th>
        </thead>
        <tr *ngFor="let hw of element.hw">
          <td>
            {{ hw.hwKonfig.hwTypBezeichnung }}
          </td>
          <td>
            <span *ngIf="hw.hwKonfig.hwTypFlag !== fremdeHwFlag">
              {{ hw.hwKonfig.hersteller + " - " + hw.hwKonfig.bezeichnung }}
              [<a
                mat-button
                color="primary"
                class="textLink"
                (click)="apService.gotoHw(hw); $event.stopPropagation()"
                >{{ hw.sernr }}</a
              >]
            </span>
          </td>
          <td [title]="hw.vlanStr">
            {{ hw.ipStr }}
          </td>
          <td>{{ hw.macStr }}</td>
        </tr>
      </table>
    </div>
    <div class="detail-cell-margin">
      <table>
        <th colspan="2">Sonstige Informationen</th>
        <tr *ngFor="let tag of element.tags">
          <td [colSpan]="tag.flag === aptypeFlag ? 2 : 1">{{ tag.bezeichnung }}</td>
          <td *ngIf="tag.flag !== aptypeFlag">{{ tag.text }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="detail-cell-bemerk">{{ element.bemerkung }}</div>
</div>
