/* Mat-Button als normaler Text */
.textLink {
  padding: 0;
  font-weight: normal;
  line-height: inherit;
  user-select: auto;
}

//.sub-table {
//  min-width: 300px;
//}
//.sub-table-head-title {
//  float: left;
//}
//.sub-table-head-button {
//  float: right;
//}
//.sub-table-head-button .mat-icon-button {
//  height: 24px;
//  width: 24px;
//  line-height: 16px;
//  padding-top: 3px;
//  padding-left: 1px;
//}
//.sub-table-head-button .material-icons {
//  font-size: 18px;
//  line-height: 16px;
//}
//.edit-button {
//  color: gray;
//}
