<div [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'" class="detail-cell-content">
  <div class="detail-cell-content-row">
    <div class="detail-cell-margin detail-cell-standort-text">Standort</div>
    <div class="detail-cell-margin">
      {{ ("000" + element.oe.bstNr).slice(-3) }}<br />
      {{ element.oe.betriebsstelle }}<br /><br />
      {{ element.oe.strasse ? element.oe.strasse + " " : ""
      }}{{ element.oe.hausnr ? element.oe.hausnr : "" }}<br />
      {{ element.oe.plz ? element.oe.plz + " " : "" }}{{ element.oe.ort ? element.oe.ort : "" }}
      <br *ngIf="apService.userSettings.debug" />
      <span *ngIf="apService.userSettings.debug" class="debug">#{{ element.oe.bstId }}</span>
    </div>
    <div class="detail-cell-margin"></div>
    <div *ngIf="element.oe.oeff" class="detail-cell-margin detail-cell-oeff">
      <span>Öffnungszeiten</span><br />{{ element.oe.oeff }}
    </div>
    <div *ngIf="apService.userSettings.debug" class="detail-cell-margin debug">
      AP #{{ element.apId }} TYP #{{ element.apTypId }} KAT #{{ element.apKatId }} ({{
        element.apKatBezeichnung
      }})
    </div>
    <div class="fill"></div>
    <div *ngIf="apService.userSettings.isAdmin" class="detail-cell-margin edit-button">
      <button mat-icon-button title="Arbeitsplatz bearbeiten" (click)="apService.apEdit(element)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="detail-cell-content-row">
    <div *ngIf="element.verantwOe" class="detail-cell-margin detail-cell-standort-text">
      Verantwortliche OE
    </div>
    <div class="detail-cell-margin">
      {{ ("000" + element.verantwOe.bstNr).slice(-3) }} - {{ element.verantwOe.betriebsstelle }}
      <span *ngIf="apService.userSettings.debug" class="debug">
        #{{ element.verantwOe.bstId }}</span
      >
    </div>
  </div>
  <div class="detail-cell-content-row">
    <div class="detail-cell-margin">
      <table class="sub-table">
        <thead>
          <tr>
            <th colspan="4">
              <div class="sub-table-head-title">Hardware</div>
              <div *ngIf="apService.userSettings.isAdmin" class="sub-table-head-button edit-button">
                <button
                  mat-icon-button
                  title="Hardware/IP bearbeiten"
                  (click)="apService.hwEdit(element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </th>
          </tr>
          <tr>
            <th>Typ</th>
            <th>Hardware</th>
            <th>IP</th>
            <th>MAC</th>
          </tr>
        </thead>
        <tr *ngFor="let hw of element.hw">
          <td>
            {{ hw.hwKonfig.hwTypBezeichnung }}
            <span *ngIf="apService.userSettings.debug" class="debug">
              #{{ hw.hwKonfig.hwTypId }}</span
            >
          </td>
          <td>
            <!--            <span *ngIf="!isFremdeHw(hw)">-->
            {{ hw.hwKonfig.hersteller + " - " + hw.hwKonfig.bezeichnung }}
            <span *ngIf="apService.userSettings.debug" class="debug"> #{{ hw.hwKonfig.id }} </span>
            [<a
              mat-button
              color="primary"
              class="textLink"
              (click)="apService.gotoHw(hw); $event.stopPropagation()"
              >{{ hw.sernr }}</a
            >
            <span *ngIf="apService.userSettings.debug" class="debug"> #{{ hw.id }}</span
            >]
            <!--            </span>-->
          </td>
          <td [title]="hw.vlanStr">
            {{ hw.ipStr }}
            <span *ngIf="apService.userSettings.debug" class="debug">
              {{ apService.vlanDebugStr(hw) }}</span
            >
          </td>
          <td>
            {{ hw.macStr }}
            <span *ngIf="apService.userSettings.debug" class="debug">
              {{ apService.macDebugStr(hw) }}</span
            >
          </td>
        </tr>
      </table>
    </div>
    <div class="detail-cell-margin">
      <table>
        <thead class="sub-table">
          <tr>
            <th colspan="3">
              <div class="sub-table-head-title">Sonstige Informationen</div>
              <div *ngIf="apService.userSettings.isAdmin" class="sub-table-head-button edit-button">
                <button
                  mat-icon-button
                  title="Sonstige Infos bearbeiten"
                  (click)="apService.tagsEdit(element)"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </th>
          </tr>
        </thead>
        <tr *ngFor="let tag of element.tags">
          <td [colSpan]="isBoolTag(tag.flag) ? 2 : 1">
            {{ tag.bezeichnung }}
            <span *ngIf="apService.userSettings.debug" class="debug"> #{{ tag.tagId }}</span>
          </td>
          <td *ngIf="!isBoolTag(tag.flag)">{{ tag.text }}</td>
          <td *ngIf="apService.userSettings.debug" class="debug">#{{ tag.apTagId }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="detail-cell-bemerk">{{ element.bemerkung }}</div>
</div>
