<mat-card class="ext-filter-panel exxt-filter-panel-size">
  <div mat-card-header>
    <div mat-card-subtitle>
      Erweiterte Suche

      <mat-form-field class="abstand">
        <mat-label>Gespeicherte Filter</mat-label>
        <mat-select
          [(value)]="apFilter.selectedFilter"
          (selectionChange)="apFilter.selectFilter($event)"
        >
          <mat-optgroup label="Vordefinierte Filter">
            <mat-option *ngFor="let filt of apFilter.extGlobalFilterList()" [value]="filt">
              {{ filt.name }}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Benutzerdefinierte Filter">
            <mat-option *ngFor="let filt of apFilter.extFilterList()" [value]="filt">
              {{ filt.name }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <button
        mat-icon-button
        color="primary"
        title="Aktuellen Filter speichern"
        [disabled]="
          apFilter.filterExpression.elements.length === 0 ||
          (apFilter.selectedFilter !== null && apFilter.selectedFilter.type === 0)
        "
        (click)="apFilter.addFilter()"
      >
        <mat-icon>save_alt</mat-icon>
      </button>
      <button
        mat-icon-button
        color="primary"
        title="Ausgewählten Filter aus der Liste löschen"
        [disabled]="apFilter.selectedFilter === null || apFilter.selectedFilter.type > 0"
        (click)="apFilter.deleteFilter()"
      >
        <mat-icon>delete</mat-icon>
      </button>
<!--      <button-->
<!--        *ngIf="apFilter.userSettings.isAdmin"-->
<!--        mat-icon-button-->
<!--        color="accent"-->
<!--        title="Aktuelle Suche für alle Benutzer speichern"-->
<!--        [disabled]="-->
<!--          apFilter.filterExpression.elements.length === 0 ||-->
<!--          (apFilter.selectedFilter !== null && apFilter.selectedFilter.type > 0)-->
<!--        "-->
<!--        (click)="apFilter.addGlobalFilter()"-->
<!--      >-->
<!--        <mat-icon>save_alt</mat-icon>-->
<!--      </button>-->
<!--      <button-->
<!--        *ngIf="apFilter.userSettings.isAdmin"-->
<!--        mat-icon-button-->
<!--        color="accent"-->
<!--        title="Ausgewählte globale Suche aus der Liste löschen"-->
<!--        [disabled]="apFilter.selectedFilter === null || apFilter.selectedFilter.type === 0"-->
<!--        (click)="apFilter.deleteGlobalFilter()"-->
<!--      >-->
<!--        <mat-icon>delete</mat-icon>-->
<!--      </button>-->
    </div>
  </div>
  <div mat-card-content>
    <sbsdb-ap-filter-bracket
      [element]="data"
      title="zum Bearbeiten klicken"
    ></sbsdb-ap-filter-bracket>
  </div>
</mat-card>
