<button class="btn-sel" mat-icon-button (click)="filterService.toggleSelection()">
  <mat-icon
    inline
    title="Nur Ausgewählte anzeigen"
    *ngIf="!filterService.showSelected"
    color="primary"
    >playlist_add_check
    <!--       filter_alt       check_circle_outline-->
  </mat-icon>
  <mat-icon
    inline
    title="Auch nicht Ausgewählte anzeigen"
    *ngIf="filterService.showSelected"
    color="primary"
    >unpublished
    <!--      unpublished        check_circle-->
  </mat-icon>
</button>
<mat-checkbox
  class="btn-check"
  (change)="$event ? filterService.masterToggle() : null"
  [checked]="filterService.isAllSelected()"
  [indeterminate]="filterService.isSelected() && !filterService.isAllSelected()"
  color="primary"
  title="alle auwählen"
>
</mat-checkbox>
