// -> https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sbsdb-app-primary: mat-palette($mat-red);
$sbsdb-app-accent: mat-palette($mat-indigo, A200, A100, A400); // 700, 500, 900);

// The warn palette is optional (defaults to red).
$sbsdb-app-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$sbsdb-app-theme: mat-light-theme($sbsdb-app-primary, $sbsdb-app-accent, $sbsdb-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($sbsdb-app-theme);

// classes fuer allgemeine Tags
@mixin material-colors($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .md-text-color {
    color: mat-color($foreground, text);
  }
  .md-primary-color {
    color: mat-color($primary);
  }
  .md-accent-color {
    color: mat-color($accent);
  }
  .md-background-color {
    background-color: mat-color($background);
  }
  .md-background-color-hover {
    background-color: mat-color($background, hover);
  }

}
@include material-colors($sbsdb-app-theme);

// orig:    "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css",
