<sbsdb-std-table
  [columns]="columns"
  [dataSource]="dataSource"
  recordName="TAG-Typ"
  [refreshTableEvent]="refreshTableEvent"
  [csvEvent]="csvEvent"
  [newEvent]="adminService.newRecordEvent"
  [chgEvent]="changeEvent"
  [delEvent]="delEvent"
  sortColumn="apkategorie"
  [pagename]="pagename"
></sbsdb-std-table>

<ng-template #infoTpl>
  <p>Typen der Sonstigen Informationen (TAGs)</p>
  <p>Damit können beliebige zusätzliche Informationen bei den Arbeitsplätzen eingetragen werden.</p>
  <p>
    <strong>Flag = 1</strong> TAG hat keinen Text. Beim Arbeitsplatz wird nur der TAG gesetzt ohne
    weitere Infos.
  </p>
  <p><strong>Parameter</strong> - zur Zeit ohne Funktion.</p>
  <p>Die Zuordnung zur Arbeitsplatz-Kategorie kann nicht nachträglich geändert werden.</p>
</ng-template>
