<sbsdb-dialog-title
  dialogTitle="{{ data.bstId ? 'OE bearbeiten' : 'Neue OE' }}"
></sbsdb-dialog-title>

<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  [class.error]="!formGroup.valid && formGroup.touched"
>
  <mat-dialog-content>
    <div class="flex-col">
      <mat-form-field class="abstand">
        <mat-label>OE-Nr.</mat-label>
        <input
          matInput
          [formControl]="bstControl"
          [errorStateMatcher]="matcher"
          required="true"
          (change)="onKeyChange()"
        />
        <mat-error *ngIf="bstControl.invalid">{{ getErrorMessage(bstControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>OE</mat-label>
        <input
          matInput
          [formControl]="betrstControl"
          [errorStateMatcher]="matcher"
          required="true"
        />
        <mat-error *ngIf="betrstControl.invalid">{{ getErrorMessage(betrstControl) }}</mat-error>
      </mat-form-field>

      <div class="abstand">
        <label class="radio-label">OE hat Arbeitsplätze</label>
        <mat-radio-group [formControl]="apControl" color="primary">
          <mat-radio-button class="radio-label" [value]="true">ja</mat-radio-button>
          <mat-radio-button [value]="false">nein</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="apControl.invalid">{{ getErrorMessage(apControl) }}</mat-error>
      </div>

      <mat-form-field class="abstand">
        <mat-label>Öffnungszeiten</mat-label>
        <textarea
          class="oeffnungszeiten"
          matInput
          [formControl]="oeffControl"
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="6"
        ></textarea>
        <mat-error *ngIf="oeffControl.invalid">{{ getErrorMessage(oeffControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="abstand">
        <mat-label>Adresse</mat-label>
        <select
          matNativeControl
          [formControl]="adrControl"
          [errorStateMatcher]="matcher"
          required="true"
        >
          <option *ngFor="let k of dataService.adresseList" [ngValue]="k.id">
            {{ k.plz && k.ort ? k.plz + " " + k.ort + ", " + k.strasse + " " + k.hausnr : "---" }}
          </option>
        </select>
        <mat-error *ngIf="adrControl.invalid">{{ getErrorMessage(adrControl) }}</mat-error>
      </mat-form-field>

      <mat-form-field class="abstand">
        <mat-label>Übergeordnete OE</mat-label>
        <select
          matNativeControl
          [formControl]="parentControl"
          [errorStateMatcher]="matcher"
          (change)="onParentChange()"
        >
          <option [ngValue]="null">---</option>
          <option *ngFor="let k of dataService.bstList" [ngValue]="k.bstId">
            {{ k.fullname ? k.fullname : "---" }}
          </option>
        </select>
        <mat-error *ngIf="parentControl.invalid">{{ getErrorMessage(parentControl) }}</mat-error>
      </mat-form-field>

      <div class="abstand">
        <div class="hier-label">OE-Hierarchie</div>
        <div class="hier-text">{{ dataService.hierachyDisplay(hierarchie) }}</div>
      </div>
    </div>
  </mat-dialog-content>

  <sbsdb-dialog-actions [data]="data" [formGroup]="formGroup"></sbsdb-dialog-actions>
</form>
